<!-- @format -->

{% extends 'base.html' %} {% block content %}
<section class="conditioning">
  <div class="container">
    <div class="cond">
      <h1>
        Установка систем кондиционирования в Санкт-Петербурге и Ленобласти
      </h1>
      <p>
        Кондиционер представляет собой климатическое оборудование, способное
        создать и автоматически поддерживать в помещении заданный уровень
        влажности, температуры, скорости движения воздуха и его чистоты. Данное
        устройство используется для создания благоприятного микроклимата в доме
        или на рабочем месте.
      </p>
      <p>
        Установка кондиционера – забота о собственном здоровье и комфорте.
        Современные кондиционеры качественно очищают воздух от пыли, пыльцы,
        вредных частиц, что особенно актуально в мегаполисах. Удаляя из воздуха
        излишнюю влагу, это оборудование предупреждает появление грибка и
        плесени. Стоит отметить, что эффективность современного прибора весьма
        высока, а уровень шума незначителен.
      </p>
    </div>
    <div class="cond_items">
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="col">
            <div class="item_img">
              <img
                src="/static/img/conditioning/51.png"
                style="width: 100%"
                alt=""
              />
            </div>
          </div>
          <div class="col">
            <div class="item_text">
              <h3>Установка системы кондиционирования в квартире</h3>
              <p>
                Купить систему кондиционирования воздуха могут владельцы любых
                квартир. Устройства устанавливаются в домах различных годов
                постройки. Они не занимают много места, позволяют быстро
                охладить помещение.
              </p>
              <p>
                Современный вид кондиционеров упрощает их интеграцию в
                существующий дизайн. Техника не занимает много места, не требует
                сложной настройки и обслуживания.
              </p>
              <p>
                Для объектов, относящихся к памятникам архитектуры, предлагаются
                оконные блоки. Они монтируются в полимерные и металлические
                рамы, имеют приятное, эргономичное исполнение.
              </p>
              <p>
                Подключение оборудования выполняется с должной аккуратностью.
                Процедура сопряжена с минимальным пылеобразованием, не
                предусматривает повреждения отделочных материалов.
              </p>
              <div class="promo_text">
                Стоимость услуг по монтажу систем кондиционирования в квартире
              </div>
              <p>
                Расходы на монтаж кондиционеров зависят от сложности работ и
                стоимости применяемого оборудования. Как правило, заказчику не
                требуется крупный бюджет.
              </p>
              <a
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"
                type="button"
                class="btn btn-outline-primary btn-lg col-12 active"
                >Получить консультацию</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="item_text">
            <h3>Установка системы кондиционирования в квартире</h3>
            <p>
              Купить систему кондиционирования воздуха могут владельцы любых
              квартир. Устройства устанавливаются в домах различных годов
              постройки. Они не занимают много места, позволяют быстро охладить
              помещение.
            </p>
            <p>
              Современный вид кондиционеров упрощает их интеграцию в
              существующий дизайн. Техника не занимает много места, не требует
              сложной настройки и обслуживания.
            </p>
            <p>
              Для объектов, относящихся к памятникам архитектуры, предлагаются
              оконные блоки. Они монтируются в полимерные и металлические рамы,
              имеют приятное, эргономичное исполнение.
            </p>
            <p>
              Подключение оборудования выполняется с должной аккуратностью.
              Процедура сопряжена с минимальным пылеобразованием, не
              предусматривает повреждения отделочных материалов.
            </p>
            <div class="promo_text">
              Стоимость услуг по монтажу систем кондиционирования в квартире
            </div>
            <p>
              Расходы на монтаж кондиционеров зависят от сложности работ и
              стоимости применяемого оборудования. Как правило, заказчику не
              требуется крупный бюджет.
            </p>
            <a
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              type="button"
              class="btn btn-outline-primary btn-lg col-12 active"
              >Получить консультацию</a
            >
          </div>
          <div class="item_img">
            <img
              src="/static/img/conditioning/61.png"
              style="width: 100%"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="item_img">
            <img
              src="/static/img/conditioning/62.png"
              style="width: 100%"
              alt=""
            />
          </div>
          <div class="item_text">
            <h3>Установка системы кондиционирования в квартире</h3>
            <p>
              Кондиционеры для коттеджей отличаются прекрасной
              производительностью и долговечностью. Они применяются в постройках
              из СИП-панелей, кирпича, в деревянных срубах и домах из
              шлакоблока. Устройства не наносят ущерб эстетке и функционалу
              постройки.
            </p>
            <p>
              Низкая этажность коттеджей упрощает проведение монтажных работ.
              Мастера используют минимальное количество инструментов, не
              привлекают дорогостоящую технику и промышленных альпинистов.
            </p>
            <p>
              Для малогабаритных домов и построек хозяйственного назначения
              предусмотрены компактные решения с низким энергопотреблением.
            </p>

            <div class="promo_text">
              Стоимость услуг по монтажу систем кондиционирования в загородном
              доме
            </div>
            <p>
              Цена монтажных работ зависит от высоты установки внешнего блока,
              конфигурации системы кондиционирования, а также наличия особых
              требований со стороны заказчика.
            </p>
            <a
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              type="button"
              class="btn btn-outline-primary btn-lg col-12 active"
              >Получить консультацию</a
            >
          </div>
        </div>
      </div>
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="item_text">
            <h3>Установка систем кондиционирования в офисах</h3>
            <p>
              Монтаж офисных систем кондиционирования подразумевает реализацию
              инженерных решений различной сложности. Возможна работа с крупными
              одиночными помещениями, множественными малыми комнатами,
              пространствами с комбинированной планировкой.
            </p>
            <p>
              Оборудование обеспечит комфортный микроклимат в каждой зоне. Оно
              может быть представлено сплит-системами, централизованными и
              смешанными решениями.
            </p>

            <div class="promo_text">
              Стоимость услуг по монтажу систем кондиционирования в офисных
              помещениях
            </div>
            <p>
              Объем расходов на проведение монтажных работ определяется
              индивидуально. Предусмотрено проведение оценочных мероприятий,
              содержащих широкий спектр замеров и аналитических процедур.
            </p>
            <a
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              type="button"
              class="btn btn-outline-primary btn-lg col-12 active"
              >Получить консультацию</a
            >
          </div>
          <div class="item_img">
            <img
              src="/static/img/conditioning/63.png"
              style="width: 100%"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="item_img">
            <img
              src="/static/img/conditioning/60.png"
              style="width: 100%"
              alt=""
            />
          </div>
          <div class="col">
            <div class="item_text">
              <h3>
                Установка систем кондиционирования в ресторанах, кафе, барах
              </h3>
              <p>
                Системы для ресторанов, баров и кафе не только поддерживают
                комфортный микроклимат. Они создают условия для продолжительного
                хранения продуктов и снижают нагрузку на персонал.
              </p>
              <p>
                Для предприятий общественного питания рекомендованы
                высокопроизводительные устройства, устойчивые к воздействию
                внешних факторов. Такое оборудование обеспечит слаженную работу
                организации на протяжении многих лет.
              </p>

              <div class="promo_text">
                Стоимость услуг по монтажу систем кондиционирования в
                ресторанах, кафе, барах
              </div>
              <p>
                Определить цену монтажных работ можно после осмотра объекта.
                Конечная стоимость услуг согласовывается с клиентом.
              </p>
              <a
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"
                type="button"
                class="btn btn-outline-primary btn-lg col-12 active"
                >Получить консультацию</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="conditioning_about" style="padding-bottom: 50px;">
  <div class="container">
    <p>
      Особое внимание стоит уделить микроклимату в рабочих помещениях.
      Работоспособность человека существенно снижается в некомфортных условиях.
      Жара или холод, духота и чрезмерная влажность напрямую влияет на
      производительность труда. Мало того, исследования показывают, что при
      высоких температурах быстро ухудшается психическое состояние сотрудников,
      снижается рабочий ритм, возрастает риск травматизма. Именно поэтому
      требуется внимательно отнестись к контролю над температурой и уровнем
      влажности, а также позаботиться о подаче свежего воздуха в помещение.
    </p>
    <p>
      Чистота воздуха в доме должна стать предметом особой заботы любого
      человека, кто задумывается о своем здоровье. Наличие естественной
      вентиляции не решает проблему нормального воздухообмена в квартире. Кроме
      того, не стоит забывать о непрерывном пылеобразовании – в городских
      условиях воздух не может быть чистым. Кондиционер снабжен фильтром,
      способным задержать мельчайшие частицы, и в квартиру поступает свежий и
      чистый воздух, благоприятно влияющий на организм. Производительность
      фильтра – показатель процента частиц, которые он задерживает. В
      зависимости от конкретных условий выбирается фильтр, максимально
      подходящий по производительности.
    </p>
  </div>
  <div class="call">{% include 'collback.html' %}</div>
  <div class="container">
    <p>
      Весьма важен контроль влажности. Отопительный сезон традиционно связан со
      значительным снижением уровня влажности в помещениях. Чрезмерно сухой
      воздух негативно влияет на работу всех систем организма, состояние кожи,
      слизистых оболочек, глаз. Снижается иммунитет, соответственно, растет
      заболеваемость. Оптимальный уровень влажности воздуха в доме составляет
      40-60%. С помощью кондиционера можно его поддерживать круглый год.
    </p>
    <span>
      Кондиционирование воздуха – наиболее простой и доступный способ создания в
      доме идеального микроклимата.
    </span>
  </div>
</section>
{% endblock %}
