<!-- @format -->

{% extends 'base.html' %} {% block content %}

<section class="main_eng">
  <div class="container">
    <h1>Проектирование вентиляции</h1>
    <p>
      Вентиляция здания – важная система, обеспечивающая жизнеобеспечение.
      Комфорт пребывания в квартире или доме напрямую зависит от правильности
      выполненного проектирования вентиляции. Любое здание, которое возводится с
      соблюдением всех предписанных строительных норм и правил, не обходится без
      обустройства вентиляции.
    </p>
    <p>
      Проектирование – обязательное мероприятие, требующее навыков и
      квалификации. Современные стеклопакеты обеспечивают полную герметичность и
      практически полностью исключают естественную циркуляцию воздуха. Можно
      сказать, что в ряде случаев обмен воздуха возможен через небольшие щели,
      возникающие в силу разных причин.
    </p>
    <p>
      Но назвать такой воздухообмен эффективным нельзя. Также стоит сказать, что
      одновременно возросли и требования к пожарной безопасности. Сегодня по
      всем нормативным требованиям необходима установка отдельных систем,
      обеспечивающих удаление дыма. Они также нуждаются в проектировании.  Для
      чего необходим проект вентиляции здания
    </p>
    <p>
      Полноценная система вентиляции здания – сложная и дорогостоящая система, а
      значит, подход к проектированию должен быть на должном уровне. Система
      предусматривает как приток, так и отток воздуха. По типу она может быть
      проточной или вытяжной. Выбор конкретного типа зависит от особенностей и
      специфики здания.
    </p>
    <ul>
      <li>в помещении ощущается дефицит подачи свежего воздуха;</li>

      <li>
        дорогостоящее оборудование было установлено неправильно, с нарушениями;
      </li>
      <li>вентиляционные узлы смонтированы с грубыми нарушениями;</li>
      <li>диаметр воздуховодов выбран неправильно.</li>
    </ul>
    <p>
      Проект системы вентиляции включает исчерпывающие сведения касательно цен.
      В нем прописана стоимость оборудования и материалов, обозначены расходы на
      монтажные, демонтажные и пуско-наладочные работы.
    </p>
    <p>
      Это лишь малая часть проблем, с которыми сталкиваются домовладельцы,
      принявшие решение проигнорировать проектирование. Следует учитывать, что
      неэффективно работающая вентиляция становится причиной развития в
      помещении плесени и грибка, а это уже факторы, влияющие на ваше
      самочувствие и здоровье.
    </p>
  </div>
</section>

<section class="items">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 ">
      <div class="col">
        <div class="card">
          <img
            src="/static/img/design/projecting1.png"
            class="card-im-top"
            alt="1"
          />
          <div class="card-body">
            <h5 class="card-title">Систем вентиляции</h5>
            <p class="card-text">
              Системы вентиляции обеспечивают циркуляцию воздуха в помещении.
              Они обладают высокой производительностью и низким
              энергопотреблением, могут дооснащаться фильтрационным
              оборудованием, задерживающим мелкие частицы и неприятные запахи.
            </p>
          </div>
          <div class="card-footer bg-transparent ">
            <a
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              type="button"
              class="btn btn-outline-primary btn-lg col-12"
              >Получить консультацию</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="/static/img/design/conditioning1.png"
            class="card-im-top"
            alt="1"
          />
          <div class="card-body">
            <h5 class="card-title">Систем кондиционирования</h5>
            <p class="card-text">
              Системы кондиционирования поддерживают требуемый микроклимат в
              закрытом помещении. Они формируют комфортные условия для
              пребывания людей, хранения продуктов, выполнения бытовых и
              производственных операций.
            </p>
          </div>
          <div class="card-footer bg-transparent ">
            <a
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              type="button"
              class="btn btn-outline-primary btn-lg col-12"
              >Получить консультацию</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main_eng_info">
  <div class="container">
    <div class="block_item">
      <h3>Преимущества проектирования</h3>
      <p>
        Теперь рассмотрим преимущества, которые может ощутить каждый
        домовладелец, решивший воспользоваться такой услугой, как проектирование
        вентиляции здания профессионалами. Согласно разработанному проекту в
        точности будет подобрано необходимое оборудование, а главное – оно будет
        правильно установлено без каких-либо нарушений. Особенности
        проектирования
      </p>
      <p>
        Так как это довольно трудоемкая задача, она имеет свои особенности и
        предполагает несколько последовательных этапов. Требования к вентиляции
        будут отличаться в зависимости от специфики здания. Например, особые
        условия соответствия выдвигают к зданиям медицинских учреждений. Нельзя
        допустить рециркуляцию воздуха, как и установку воздуховодов
        вертикального типа.
      </p>
      <p>
        Главная особенность проектирования вентиляции здания заключается в том,
        что каждый этап требует сопровождение группы квалифицированных
        специалистов. Даже на этапе разработки и создания эскизов потребуется
        проработка схем размещения вентиляционного оборудования. Решить эту
        задачу под силу только грамотному и квалифицированному специалисту.
      </p>
      <p>Проектирование включает следующие основные этапы:</p>
      <ul class="list">
        <li>
          разработка эскизной схемы (указывается порядок размещения оборудования
          и вентиляционных каналов, а также осуществляется технико-экономическое
          обоснование);
        </li>
        <li>разрабатывается основной (рабочий) проект.</li>
      </ul>
      <p>
        Технико-экономическое обоснование – основа. В ряде случаев оказывается,
        что обустройство конкретного типа вентиляции в здании нецелесообразно в
        силу экономики или строительных ограничений.
      </p>
      <span
        >Итог разработки рабочего проекта – полностью готовый пакет
        документации, который можно передавать организации, занимающейся
        монтажом системы.
      </span>
    </div>
  </div>
  <div class="call">{% include 'collback.html' %}</div>

  <div class="block_item">
    <div class="container">
      <h3>На данном этапе должны быть выполнены следующие работы:</h3>
      <ul class="list">
        <li>выбран подходящий тип оборудования;</li>
        <li>правильно установлен объем воздуховодов для каждого помещения;</li>
        <li>
          подобрано оборудование, отвечающее за пожарную и электротехническую
          безопасность;
        </li>
        <li>составлена спецификация;</li>
        <li>
          для труб и вытяжек разработаны монтажные и аксонометрические схемы;
        </li>
        <li>рассчитана смета работ.</li>
      </ul>
      <p>
        Все этапы проектирования должны быть выполнены в соответствии с
        требованиями ГОСТ, СНиП. Несмотря на сложность проектирования, методика
        тщательно проработана и уже отточена. Для этого сегодня используется
        специальное программное обеспечение.
      </p>

      <span
        >Проектирование сетей производится согласно требованиям регламента.
        Выездные мероприятия согласовываются с Заказчиком.
      </span>
    </div>
  </div>
</section>
{% endblock %}
