{% extends 'base.html' %}

{% block content %}


  <section class="main_eng">
    <div class="container">
      <h1>
        Проектирование систем вентиляции и кондиционирования в Санкт-Петербурге и Ленобласти
      </h1>
      <p>
        Проектирование систем вентиляции и кондиционирования – это комплексная
        процедура, связанная с подготовкой документации по формированию и
        монтажу сетей соответствующего назначения. Услуга востребована при
        строительстве производственных предприятий, муниципальных и частных
        объектов.
      </p>
      <p>Проектные материалы содержат следующую информацию:</p>
      <ul>
        <li>спецификация материалов для прокладки систем вентиляции и
          кондиционирования;
        </li>

        <li>правила проведения монтажных работ;</li>
        <li>общая протяженность приточных и вытяжных воздуховодов и конфигурация
          систем дымоудаления;
        </li>
        <li>параметры вспомогательного оборудования, обеспечивающего корректную
          работу системы вентиляции и кондиционирования.
        </li>
      </ul>
      <p>
        Проект системы вентиляции включает исчерпывающие сведения касательно
        цен. В нем прописана стоимость оборудования и материалов, обозначены
        расходы на монтажные, демонтажные и пуско-наладочные работы.
      </p>
    </div>
  </section>



  <section class="items">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4 ">
        <div class="col">
          <div class="card">
            <img src="/static/img/design/projecting1.png" class="card-im-top" alt="1" />
            <div class="card-body">

              <h5 class="card-title">Систем вентиляции</h5>
              <p class="card-text">
                Системы вентиляции обеспечивают циркуляцию воздуха в
                помещении. Они обладают высокой производительностью и низким
                энергопотреблением, могут дооснащаться фильтрационным
                оборудованием, задерживающим мелкие частицы и неприятные
                запахи.
              </p>
            </div>
            <div class="card-footer bg-transparent ">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                                    class="btn btn-outline-primary btn-lg col-12">Получить
                                    консультацию</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/design/conditioning1.png" class="card-im-top" alt="1" />
            <div class="card-body">

              <h5 class="card-title">Систем кондиционирования</h5>
              <p class="card-text">
                Системы кондиционирования поддерживают требуемый микроклимат
                в закрытом помещении. Они формируют комфортные условия для
                пребывания людей, хранения продуктов, выполнения бытовых и
                производственных операций.
              </p>

            </div>
            <div class="card-footer bg-transparent ">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                                    class="btn btn-outline-primary btn-lg col-12">Получить
                                    консультацию</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/design/dimok1.png" class="card-im-top" alt="1" />
            <div class="card-body">
              <h5 class="card-title">Систем дымоудаления</h5>
              <p class="card-text">
                Системы дымоудаления отводят продукты горения, канцерогены и
                прочие вредоносные примеси, находящиеся в воздухе. Они
                обязательны для общественных зданий, производственных
                построек, лабораторных и учебных корпусов.
              </p>
            </div>
            <div class="card-footer bg-transparent ">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                                    class="btn btn-outline-primary btn-lg col-12">Получить
                                    консультацию</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/design/pozhar1.png" class="card-im-top" alt="1" />
            <div class="card-body">
              <h5 class="card-title">Пожарная вентиляция</h5>
              <p class="card-text">
                Системы пожарной вентиляции обеспечивают подпор воздуха. Они
                упрощают эвакуацию людей при пожаре, имеют качественную
                огнезащиту. Воздуховоды прокладываются в хозяйственных,
                производственных и жилых помещениях.
              </p>
            </div>
            <div class="card-footer bg-transparent ">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                                    class="btn btn-outline-primary btn-lg col-12">Получить
                                    консультацию</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="main_eng_info">
    <div class="container">
      <div class="block_item">
        <h3>Задачи проектирования</h3>
        <p>
          Разработка проекта вентиляции и кондиционирования способствует
          решению следующих задач:
        </p>
        <ul class="list">
          <li>расчет объема подачи и удаления воздуха в жилую или техническую зону;</li>
          <li>адаптация системы дымоудаления и вентиляции под нужды объекта;</li>
          <li>проведение аэродинамических расчетов;</li>
          <li>проведение акустических расчетов;</li>
          <li>создание схемы разводки коммуникаций;</li>
          <li>подбор оборудования с учетом его эксплуатационных и технических особенностей;</li>
          <li>составление сметы на реализацию проекта вентиляции и кондиционирования.</li>
        </ul>
        <p>
          При проектировании систем вентиляции, кондиционирования и
          дымоудаления учитываются предписания отраслевых нормативов.
          Специалисты обращаются к соответствующим ГОСТам и СНиПам, производят
          согласование инженерных решений с надзорными органами (СЭС, пожарная
          инспекция).
        </p>
        <span>Проекты вентиляции и кондиционирования для государственных объектов
          проходят экспертизу.
        </span>
      </div>
      <div class="block_item">
        <h3>На каких объектах проводятся работы?</h3>
        <p>
          Системы вентиляции, кондиционирования и дымоудаления проектируются
          для объектов следующих типов:
        </p>
        <ul class="list">
          <li>частные коттеджи;</li>
          <li>типовые и многоуровневые квартиры;</li>
          <li>коммерческие помещения, различного назначения;</li>
          <li>частные и общественные бассейны;</li>
          <li>объекты общепита, представленные ресторанами и кафе;</li>
          <li>промышленные объекты, среди которых производственные цеха, склады,
            гаражи;
          </li>
          <li>общественные объекты;</li>
          <li>спортивные объекты, фитнес-клубы;</li>
          <li>здания инженерного назначения;</li>
          <li>медицинские учреждения, в частности стоматологии, больницы,
            госпитали, морги и лаборатории;
          </li>
        </ul>

        <span>Проектирование сетей производится согласно требованиям регламента.
          Выездные мероприятия согласовываются с Заказчиком.
        </span>
      </div>
      <div class="block_item">
        <h3>Как происходит работа над проектом?</h3>
        <p>
          Обработка заявки на проектирование систем вентиляции,
          кондиционирования или дымоудаления выполняется по следующей схеме:
        </p>
        <ul class="list">
          <li>первичный расчет воздухообмена;</li>
          <li>схематическая обрисовка системы;</li>
          <li>определение условий, в рамках которых будет прокладываться сеть;
          </li>
          <li>определение дополнительных требований со стороны заказчика и
            действующих нормативов;
          </li>
          <li>подбор оптимального решения;</li>
          <li>разработка коммерческого и технико-экономического предложения;
          </li>
          <li>утверждение заказчиком представленного решения;</li>
          <li>проведение работ по проведению замеров, проектированию и
            согласованию;
          </li>
          <li>передача клиенту проекта системы вентиляции, кондиционирования или
            дымоудаления.
          </li>
        </ul>

        <span>Документация выдается в электронном виде и на бумажном носителе.
          Базовое количество копий – 3 шт.
        </span>
      </div>
      <div class="block_item">
        <h3>Что входит в проектно-сметный пакет документов?</h3>
        <p>
          Проектирование систем вентиляции и дымоудаления подразумевает
          подготовку следующих бумаг.
        </p>
        <ul class="list">
          <li>
            <span>Эскизный проект.</span> Документация, отображающая
            размещение воздуховодов, вентиляционного оборудования и прочих
            элементов системы.
          </li>
          <li>
            <span>Инженерный проект.</span> Комплект чертежей с развернутыми
            инженерными решениями, применяемыми в проекте системы вентиляции и
            кондиционирования.
          </li>
          <li>
            <span>Проект интеграции.</span> Схемы и прочие документы,
            сообщающие о взаимодействии проектируемых систем с системами
            водоснабжения, отопления, сигнализации и пожаротушения. При
            наличии в помещении особого оборудования, проектировщик
            разрабатывает дополнительную документацию. Она отображает
            взаимодействие системы вентиляции и дымоудаления с обозначенной
            техникой.
          </li>
          <li>
            <span>Визуализация.</span> Снимки и видеоролики, информирующие о
            внешнем виде системы и принципах ее работы. В случае реализации
            типовых проектных решений доля визуализации сводится к минимуму.
            Это обусловлено простотой системы, а также отсутствием нетиповых
            узлов, требующих детального рассмотрения.
          </li>
          <li>
            <span>Монтажная документация</span> Информация, касающаяся
            монтажных схем и дополнительных расчетов. Схемы содержат
            исчерпывающие сведения об установке вентиляторов, подключении
            климатического оборудования, сборке и монтаже воздуховодов.
            Представлена подробная информации о реализации противодымных
            решений, а также установке компонентов пожарной защиты
            (минеральные плиты, специальные подвесы).
          </li>
          <li>
            <span>Документация на оборудования.</span> Бумаги, подтверждающие
            сертификацию применяемой техники. Они также включают паспорта,
            информирующие о параметрах работы устройств, их эксплуатационных
            характеристиках и габаритных размерах.
          </li>
          <li>
            <span>Сметная документация.</span> Подробная смета, содержащая
            расходы на прокладку системы вентиляции и кондиционирования. В
            документе отражены траты на основное оборудование, монтаж,
            доставку техники, пуско-наладочные мероприятия.
          </li>
        </ul>
        <p>
          Проектируемая система должна соответствовать требованиям пожарной,
          экологической и функциональной безопасности. Возможно предъявление
          прочих требований, обусловленных конфигурацией и функциональными
          параметрами объекта.
        </p>
      </div>
      <div class="block_item">
        <h3>Этапы проектирования</h3>
        <p>
          Проектирование систем дымоудаления, а также пожарной и приточной
          вентиляции осуществляется в два этапа. Изначально, специалисты
          собирают сведения об объекте. Они обращаются к собственнику, делают
          запрос в учетные и контролирующие органы. При необходимости
          организуется полный комплекс изысканий, подразумевающий применение
          высокоточного измерительного оборудования.
        </p>
        <p>
          Второй этап – подготовка документации. В рамках проектирования
          систем вентиляции специалисты выполняют необходимые расчеты,
          подготавливают схемы, чертежи и изометрические модели. При
          проведении работ используются системы автоматического проектирования
          (САПР). Подобное решение обладает рядом преимуществ:
        </p>
        <ul>
          <li>
            <span>Минимальный риск ошибок. </span>Большинство САПР имеет
            многоуровневую систему проверок. Это исключает проблемы с
            привязками, некорректным размером компонентов, установкой
            неподходящих креплений. Формируемая документация обладает высокой
            точностью, отображает особенности проектируемого объекта.
          </li>
          <li>
            <span>Совместная работа инженеров. </span>Использование BIM-систем
            обеспечивает единовременную работу над проектом большого числа
            специалистов. Это сокращает сроки проектирования, упрощает
            реализацию сложных решений, базирующихся на множественном сборе
            информации.
          </li>
          <li>
            <span>Доступ ко всем имеющимся ресурсам. </span>В базе систем
            автоматического проектирования содержится перечень отраслевых
            стандартов, нормативов и справочников. Исполнитель выбирает
            оптимальное решение, основываясь на полном спектре данных.
          </li>
        </ul>
        <p>
          В рамках проектирования системы специалисты отвечают на ряд
          вопросов:
        </p>
        <ul>
          <li>
            <span>Какой тип вентиляции целесообразно использовать?</span> На
            объекте может применяться естественная, механическая,
            общеобменная, наборная или приточно-вытяжная вентиляция.
            Допускается интеграция гибридных решений, адаптированных под нужды
            объекта.
          </li>
          <li>
            <span>Какое оборудование следует установить?</span> Собранная
            информация позволяет подобрать оптимальную технику. Применение
            подходящих установок исключает переизбыток влаги и тепла,
            гарантирует поддержание комфортной температуры.
          </li>
          <li>
            <span>В каких местах стоит установить решетки?</span> Специалисты
            выбирают габариты решеток и размер их ячеек. Элементы могут
            располагаться на стенах, потолке и даже полу.
          </li>
          <li>
            <span>Где стоит разместить оборудование?</span> Корректное
            расположение вентиляционных установок облегчает работы по
            обслуживанию и монтажу, минимизирует траты на транспортировку
            материалов.
          </li>
        </ul>
        <p>
          Поиск требуемых ответов занимает некоторое время. Сроки
          проектирования системы зависят от ее габаритов, технической
          сложности, наличия особых пожеланий со стороны заказчика.
        </p>
      </div>
      <div class="block_item">
        <h3>Требования для проекта системы вентиляции</h3>
        <p>
          Базовые требования, предъявляемые к проекту системы вентиляции,
          прописаны в нормативных документах.
        </p>
        <ul class="list">
          <li>
            <span>СНиП 41-01-2003.</span> Основной документ, содержащий
            требования пожарной, экологической и функциональной безопасности.
            В нем обозначены критерии надежности систем, подробно рассмотрены
            рекомендации по энергосбережению. Также присутствуют нормы,
            касающиеся уровня шума и чистоты воздуха.
          </li>
          <li>
            <span>Градостроительный и жилищный кодекс</span> Общие нормативные
            документы, отображающие процесс получения разрешений.
          </li>
          <li>
            <span>Регламенты согласования проектной документации.</span>
            Дополнительные документы, информирующие о порядке выдачи
            согласований. Регламенты могут быть федерального и местного
            значения.
          </li>
          <li>
            <span>СП 118.13330.2012.</span> Свод правил для зданий и
            сооружений общественного назначения.
          </li>
          <li>
            <span>СП 54.13330.2016.</span> Свод правил для многоквартирных
            домов.
          </li>
          <li>
            <span>СП 56.13330.2011</span> Свод правил для производственных
            построек.s
          </li>
          <li>
            <span>СП 336.1325800.2017.</span> Свод базовых правил, касающихся
            проектирования систем вентиляции и кондиционирования.
          </li>
        </ul>
        <p>
          При проектировании могут применяться дополнительные ГОСТы и СНиПы,
          касающиеся санитарно-гигиенической безопасности и микроклимата в
          жилых зданиях.
        </p>
      </div>
    </div>

    <div class="call">
{% include 'collback.html' %}
    </div>
    <div class="container">
      <div class="block_item">
        <h3>Из чего складывается цена проектирования систем вентиляции?</h3>
        <p>
          Стоимость проектирования системы вентиляции зависит от нескольких
          факторов.
        </p>
        <ul class="list">
          <li>
            <span>Сложность выполнения расчетов.</span> Объемная расчетная
            часть увеличивает стоимость проекта. Возможны дополнительные
            траты, связанные с проведением смежных мероприятий.
          </li>
          <li>
            <span>Тип объекта.</span> Проектирование систем вентиляции
            осуществляется для зданий различной направленности: загородные
            дома, квартиры, ТРЦ, производственные предприятия, медицинские
            учреждения. Каждый тип объекта обладает отдельной спецификой, для
            него предусмотрены собственные расценки.
          </li>
          <li>
            <span>Площадь помещений.</span>
            Чем больше габариты целевых пространств, тем дороже обходится
            разработка подходящих решений.
          </li>
          <li>
            <span>Параметры применяемого оборудования.</span> Клиент может
            заказать расчет с типовыми и нестандартными установками. Во втором
            случае потребуются дополнительные силы и средства.
          </li>
        </ul>

        <p>
          Отдельное влияние на стоимость проектирования систем вентиляции
          оказывают дополнительные работы. Их проведение обусловлено
          спецификой объекта, требованиями нормативной документации, особыми
          пожеланиями со стороны заказчика.
        </p>
        <span>Расходы на проведение сторонних мероприятий согласовываются
          отдельно. В некоторых случаях их проводят сторонние фирмы,
          обладающие соответствующими допусками и установками.</span>
      </div>
      <div class="block_item">
        <h3>Проектирование систем вентиляции</h3>
        <p>
          Проектирование систем вентиляции направлено на получение
          функциональных магистралей, обеспечивающих циркуляцию воздуха в
          целевом помещении. Оборудование, предлагаемое проектом, обладает
          необходимой энергоэффективностью и производительностью.
        </p>
      </div>
      <div class="block_item">
        <h3>Стоимость услуг проектирования вентиляции</h3>
        <p>
          Цена проектных работ рассчитывается по базовым принципам. Подробная
          информация представлена в штатном прайсе. Определяющее значение
          имеет тип системы (наборная или моноблочная), способ монтажа и
          параметры функционирования.
        </p>
        <p>
          Получить дополнительные сведения касательно цены помогут штатные
          консультанты. Они познакомят покупателя с действующими расценками,
          предложат решения, соответствующие техническим потребностям и
          имеющемуся бюджету.
        </p>
        <span>Базовая стоимость услуг проектирования систем вентиляции в
          Санкт-Петербурге начинается с 10 000 рублей.
        </span>
      </div>
      <div class="block_item">
        <h3>Проектирование систем кондиционирования</h3>
        <p>
          Система кондиционирования поддерживает в помещении требуемый
          микроклимат, обеспечивает комфортные условия для пребывания людей и
          хранения продукции. Инженеры проектируют бытовые и промышленные
          системы. Первые отличаются умеренной производительностью и
          энергопотреблением, предназначены для квартир, апартаментов и
          загородных домов. Системы кондиционирования промышленного типа
          размещаются в рамках складов, лабораторий и производственных цехов.
          Они характеризуются значительным запасом мощности, адаптированы к
          интенсивной, бесперебойной эксплуатации.
        </p>
      </div>
      <div class="block_item">
        <h3>Стоимость услуг проектирования кондиционирования</h3>
        <p>
          Расценки на проведение проектных работ прописаны в прайс-листе. Они
          привязаны к стандартным факторам, таким как размеры помещения,
          назначение объекта, параметры применяемых установок. При расчете
          стоимости продукции возможно выявление дополнительных издержек,
          связанных с проведением изысканий, выполнением сторонних выездных
          операций.
        </p>
        <p>
          Исчерпывающую информацию касательно стоимости услуг предоставляют
          консультанты компании. Общение с ними позволит подобрать подходящие
          кондиционеры, уточнить протяженность инженерных коммуникаций, узнать
          траты, связанные с реализацией проекта.
        </p>
        <span>Базовая стоимость услуг проектирования систем кондиционирования в
          СПБ начинается с 10 000 рублей.
        </span>
      </div>
      <div class="block_item">
        <h3>Проектирование системы дымоудаления</h3>
        <p>
          Система дымоудаления обеспечивает отвод продуктов горения из целевой
          зоны. Она облегчает эвакуацию персонала, минимизирует деструктивные
          последствия пожара. Большинство систем дымоудаления работает в
          автоматическом режиме, однако встречаются и полуавтоматические
          решения.
        </p>
        <p>
          Проектирование систем дымоудаления производится с особой
          тщательностью. Проверке данного узла уделяется особое внимание при
          проведении государственных экспертиз.
        </p>
      </div>
      <div class="block_item">
        <h3>Стоимость услуг проектирования систем дымоудаления</h3>
        <p>
          Консультанты компании предоставляют исчерпывающую информацию
          касательно стоимости проектных работ. Они проведут предварительные
          расчеты, учитывающие протяженность магистрали, количество активных
          точек, конфигурацию применяемой техники.
        </p>
        <span>Базовая стоимость услуг проектирования систем дымоудаления в СПБ
          начинается с 20 000 рублей.
        </span>
      </div>
      <div class="block_item">
        <h3>Проектирование пожарной вентиляции</h3>
        <p>
          Пожарная вентиляция обеспечивает подпор воздуха, способствует
          безопасной эвакуации людей. Ее наличие обязательно на общественных и
          производственных объектах. Магистраль сохраняет функционал в
          условиях высоких температур, имеет качественную огнезащиту.
        </p>
        <p>
          Разработка проекта пожарной вентиляции производится аккредитованными
          специалистами. Передаче документации в работу предшествует
          положительное заключение экспертов.
        </p>
      </div>
      <div class="block_item">
        <h3>Стоимость услуг проектирования пожарной вентиляции</h3>
        <p>
          При расчете стоимости проектировки используются коэффициенты,
          соответствующие данному типу работ. Получить дополнительную
          информацию о применяемых значениях и общих принципах расчета можно у
          консультантов компании.
        </p>
        <span>Базовая стоимость услуг проектирования пожарной вентиляции в СПБ
          начинается с 20 000 рублей.
        </span>
      </div>
    </div>
  </section>
{% endblock %}

