{% extends 'base.html' %}
{% block content %}

    <section class="equipment">
    <div class="container">
      <h1>Оборудование</h1>
      <p>
        Компания “Ventiko” реализует многофункциональные устройства для систем
        вентиляции и кондиционирования. Клиентам доступны продуманные решения,
        поддерживающие заданную чистоту, влажность и температуру воздуха. В
        ассортименте предложения для квартир и частных домов, коммерческих
        помещений, производственных предприятий, комбинатов общественного
        питания.
      </p>
      <p>Представленная продукция обладает следующими особенностями:</p>
      <ul>
        <li>
          <span>Богатый функционал.</span>Техника выполняет широкий спектр
          операций. Она быстро адаптируется под нужды клиента, обеспечивает
          комфортную и безопасную эксплуатацию помещения.
        </li>
        <li>
          <span>Удобство использования.</span> Оборудование не нуждается в
          сложной настройке и дорогостоящем уходе. Оно адаптировано к
          длительной каждодневной работе, совместимо с прочими элементами
          климатических и вентиляционных систем.
        </li>
        <li>
          <span>Долговечность.</span>В продаже только сертифицированные
          устройства. Изделия производятся из сертифицированных комплектующих,
          имеют значительный ресурс.
        </li>
        <li>
          <span>Простота монтажа.</span>При интеграции техники используются
          типовые подключения. Это исключает установку переходников и
          вспомогательных компонентов, способствует рациональному
          использованию пространства.
        </li>
        <li>
          <span>Прекрасные эстетические показатели.</span>Техника имеет
          привлекательный внешний вид, элегантно дополняет помещение.
        </li>
      </ul>
      <p>
        Помощь в оформлении покупки оказывают штатные консультанты. Они
        информируют об особенностях товара, рекомендуют изделия,
        соответствующие пожеланиям заказчика.
      </p>
      <p class="promo_text">
        Приобретая технику у проверенного продавца, Вы гарантируете
        беспроблемную работу системы вентиляции, кондиционирования и
        дымоудаления.
      </p>
    </div>
  </section>

 {% endblock %}
{% block contact %}
{% include 'collback.html' ignore missing with context %}
{% endblock %}