    {% extends 'base.html' %}
{% block content %}
<section class="conditioning">

        <div class="container">
            <div class="cond">
                <h1>Холодильные камеры</h1>
                <p>
                    В настоящее время в загородных дома и коттеджах многие стали обустраивать холодильные камеры для
                    долговременного хранения продуктов. Как правило они относительно небольшие до 20 кубов. Находятся в
                    подвалах или цокольных этажах. Рассчитаны на плюсовые температуры (до 0...+10 град С). Иногда
                    устанавливают низкотемпературные камеры (-18). И объясняется это необходимостью хранить относительно
                    большие объемы продуктов для личного потребления (овощи, фрукты, мясо, рыба, гастрономия, молочная
                    продукция).

                </p>
                <p>
                    Холодильные камеры так же популярны, как и домашние холодильники. Повсеместное использование этого
                    вида холодильного оборудования связано с их функциональными возможностями.

                </p>
                <p>Их применяют для сохранения свежести продуктов, зимних заготовок, внешнего вида верхней одежды из
                    меха, коллекционных изделий, требующих специальных условий хранения. Простые холодильники не
                    предусмотрены для хранения большого количества предметов, поэтому холодильные камеры намного удобнее
                    для таких целей.</p>

            </div>
            <div class="cond_items ">
                <div class="cond_content hol_items">
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="col">
                            <div class="item_img">
                                <img class="hol_img" src="/static/img/hol_cam/cam1.jpg" style="width: 100%" alt="1" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="item_text">
                                <h3>Холодильные камеры бытового использования</h3>
                                <p>
                                    В наше время такие установки популярны среди рестораторов, владельцев цветочных
                                    магазинов, лавок с продовольственными товарами. Это оборудование активно
                                    используется
                                    как в промышленной сфере, так и в быту для хранения, замораживания отдельных пищевых
                                    продуктов, сохранения внешнего вида цветов, одежды из меха и кожи, фармацевтической
                                    продукции, лекарств, вин. Холодильные установки рассчитаны на большой объем, дают
                                    возможность хранить сразу несколько видов разных товаров.
                                </p>

                                <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                                    class="btn btn-outline-primary btn-lg col-12 active">Получить
                                    консультацию</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cond_content hol_items">
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="col">
                            <div class="item_text">
                                <h3>Достоинства холодильных камер</h3>
                                <p>Бытовые установки используются в разных производственных сферах – для хранения вещей,
                                    еды, лекарств. Они экономят электроэнергию, оптимальны по энергетическим затратам,
                                    эффективно работают даже при больших нагрузках.</p>
                                <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                                    class="btn btn-outline-primary btn-lg col-12 active">Получить
                                    консультацию</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item_img">
                                <img src="/static/img/hol_cam/cam2.jpg" style="width: 100%" alt="2" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <section class="conditioning_about">

        <div class="container">
            <h2>Конструкции холодильных камер</h2>
            <p>В камеры бытового использования входит короб, где хранятся продукты. Стены его изолированы и плотно
                закрыты – утечка холода и попадание воздуха исключены.</p>
            <p>Герметичность создает оптимальные условия хранения. Изнутри располагается ручка, при помощи которой вы
                сможете открыть дверь.</p>
            <p>Управляются такие установки системой с механическим или электрическим датчиком. При помощи электронного
                управления устанавливаются параметры работы оборудования в зависимости от времени года и суток. Система
                управления может располагаться как внутри камеры, так и снаружи.</p>
            <p>Холодильная установка бытового типа работает бесшумно, поэтому не стоит опасаться, что шум работы
                установки будет мешать клиентам или соседям.</p>
            <p>Правильный монтаж камеры позволит обеспечить эффективную работу оборудования, избежать ошибок и сбоев,
                достичь максимальных эксплуатационных возможностей установки, сэкономить деньги и время.</p>
        </div>
    </section>
    {% endblock %}