<!-- @format -->

{% extends 'base.html' %} {% block content %}
<section class="conditioning">
  <div class="container">
    <div class="cond">
      <h1>
        Монтаж и демонтаж систем вентиляции и кондиционирования в
        Санкт-Петербурге и Ленобласти
      </h1>
      <p>
        Монтаж систем кондиционирования и вентиляции – это комплексная
        процедура, связанная с подготовкой объекта и установкой профильного
        оборудования. Работы выполняются компетентными специалистами и
        подразумевают наличие проекта.
      </p>
      <p>
        Монтаж систем кондиционирования и вентиляции позволяет получить
        следующие преимущества.
      </p>
      <ul>
        <li>
          <span>Создание комфортного микроклимата.</span> Кондиционеры
          поддерживают оптимальную температуру в помещении. Они сохраняют
          прохладу летом и тепло осенью. Системы кондиционирования востребованы
          в квартирах, частных домах, на производственных предприятиях.
        </li>
        <li>
          <span>Удаление загрязнений.</span> Многие климатические и
          вентиляционные установки комплектуются фильтрационными элементами. Они
          задерживают взвешенные частицы, находящиеся в воздушной среде,
          поддерживают чистоту в помещении. Блоки с фильтрами актуальны в
          квартирах, расположенных вблизи оживленных трасс.
        </li>
        <li>
          <span>Осушение и увлажнение воздуха.</span> Осушение и увлажнение
          воздуха. Современная техника способна регулировать влажность воздуха
          за счет соответствующих функций. Это гарантирует комфортную
          эксплуатацию объекта в любое время года.
        </li>
      </ul>
      <p>
        Вентиляционное оборудование и кондиционеры способствуют поступлению
        свежего воздуха и отводу углекислого газа. Системы работают в
        автоматическом режиме, требуют минимального обслуживания и настройки.
      </p>
    </div>
    <div class="row  row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100">
          <img
            src="/static/img/mounting/mount.png"
            style="width: 100%"
            class="card-im-top"
            alt="1"
          />
          <div class="card-body">
            <h5 class="card-title">Монтаж</h5>
            <p class="card-text">
              Монтажные работы позволяют установить систему вентиляции и
              кондиционирования по проекту и в срок. Они включают работы по
              сборке, подготовке инженерных проемов, фиксации приборов,
              подключение к линиям электропитания и проведению пуско-наладочных
              работ. К монтажу допускаются компетентные специалисты, обладающие
              требуемыми знаниями и навыками. Оборудование устанавливается
              согласно документации с соблюдением мер безопасности.
            </p>
          </div>
          <div class="card-footer bg-transparent ">
            <a
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              class="btn btn-outline-primary btn-lg col-12 btn-mb"
              >Получить консультацию</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="/static/img/mounting/demount.png"
            style="width: 100%"
            class="card-im-top"
            alt="2"
          />
          <div class="card-body">
            <h5 class="card-title">Демонтаж</h5>
            <p class="card-text">
              Демонтажные работы направлены на разбор существующей конструкции.
              Они востребованы при ремонте и модернизации сети, продаже
              оборудования. При проведении демонтажных работ соблюдается должная
              аккуратность. Мастера отсоединяют компоненты системы, не повреждая
              сопряженные устройства, производят их упаковку (опционально) и
              упорядоченное складирование.
            </p>
          </div>
          <div class="card-footer bg-transparent ">
            <a
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              class="btn btn-outline-primary btn-lg col-12 btn-mb"
              >Получить консультацию</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
