{% extends 'base.html' %}
{% block content %}
  <section class="conditioning">
    <div class="container">
      <div class="cond">
        <h1>
          Монтаж и демонтаж систем вентиляции и кондиционирования в
          Санкт-Петербурге и Ленобласти
        </h1>
        <p>
          Монтаж систем кондиционирования и вентиляции – это комплексная
          процедура, связанная с подготовкой объекта и установкой профильного
          оборудования. Работы выполняются компетентными специалистами и
          подразумевают наличие проекта.
        </p>
        <p>
          Монтаж систем кондиционирования и вентиляции позволяет получить
          следующие преимущества.
        </p>
        <ul>
          <li>
            <span>Создание комфортного микроклимата.</span> Кондиционеры
            поддерживают оптимальную температуру в помещении. Они сохраняют
            прохладу летом и тепло осенью. Системы кондиционирования
            востребованы в квартирах, частных домах, на производственных
            предприятиях.
          </li>
          <li>
            <span>Удаление загрязнений.</span> Многие климатические и
            вентиляционные установки комплектуются фильтрационными элементами.
            Они задерживают взвешенные частицы, находящиеся в воздушной среде,
            поддерживают чистоту в помещении. Блоки с фильтрами актуальны в
            квартирах, расположенных вблизи оживленных трасс.
          </li>
          <li>
            <span>Осушение и увлажнение воздуха.</span> Современная техника
            способна регулировать влажность воздуха за счет соответствующих
            функций. Это гарантирует комфортную эксплуатацию объекта в любое
            время года.
          </li>
        </ul>
        <p>
          Вентиляционное оборудование и кондиционеры способствуют поступлению
          свежего воздуха и отводу углекислого газа. Системы работают в
          автоматическом режиме, требуют минимального обслуживания и
          настройки.
        </p>
      </div>
      <div class="row  row-cols-md-2 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/static/img/mounting/mount.png" style="width: 100%" class="card-im-top" alt="1" />
            <div class="card-body">
              <h5 class="card-title">Монтаж</h5>
              <p class="card-text">
                Монтажные работы позволяют установить систему вентиляции и
                кондиционирования по проекту и в срок. Они включают работы по
                сборке, подготовке инженерных проемов, фиксации приборов,
                подключение к линиям электропитания и проведению
                пуско-наладочных работ. К монтажу допускаются компетентные
                специалисты, обладающие требуемыми знаниями и навыками.
                Оборудование устанавливается согласно документации с
                соблюдением мер безопасности.
              </p>

            </div>
            <div class="card-footer bg-transparent ">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1"
                class="btn btn-outline-primary btn-lg col-12 btn-mb">Получить
                консультацию</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/static/img/mounting/demount.png" style="width: 100%" class="card-im-top" alt="2" />
            <div class="card-body">
              <h5 class="card-title">Демонтаж</h5>
              <p class="card-text">
                Демонтажные работы направлены на разбор существующей
                конструкции. Они востребованы при ремонте и модернизации сети,
                продаже оборудования. При проведении демонтажных работ
                соблюдается должная аккуратность. Мастера отсоединяют
                компоненты системы, не повреждая сопряженные устройства,
                производят их упаковку (опционально) и упорядоченное
                складирование.
              </p>

            </div>
            <div class="card-footer bg-transparent ">
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1"
                class="btn btn-outline-primary btn-lg col-12 btn-mb">Получить консультацию</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="conditioning_about">
    <div class="container">
      <h2>Монтаж и демонтаж бытовых систем вентиляции</h2>
      <p>
        Монтаж систем вентиляции на бытовых объектах выполняется в рамках
        имеющейся документации. Допускается прокладка сетей следующей
        конфигурации.
      </p>
      <ul>
        <li>
          <span>Вентиляция естественного типа.</span> Стандартное решение для
          квартир и частных домов. Поступление кислорода осуществляется за
          счет окон, дверей и приточных клапанов. Удаление воздуха происходит
          по проемам в кладке или инженерным коробам, расположенным по
          периметру помещения.
        </li>
        <li>
          <span>Вентиляция механического типа.</span> Магистрали,
          укомплектованные электрическими вентиляторами. Они быстро отводят
          углекислый газ и неприятные запахи, формируют интенсивный приток
          воздуха.
        </li>
        <li>
          <span>Вентиляция приточно-вытяжного типа.</span> Комбинированные
          сети, обеспечивающие удаление и поступление воздуха. Штатные
          воздуховоды подключаются к приточно-вытяжной установке, могут
          оснащаться рекуператорами. Последние снижают затраты на отопление,
          способствуют беспроблемной эксплуатации системы на протяжении многих
          лет.
        </li>
      </ul>
      <p>
        По специфике устройства вентиляционное оборудование делится на
        наборные и моноблочные. Первые состоят их множества самостоятельных
        компонентов, используются при решении сложных инженерных задач. Они
        отличаются гибкостью монтажа и обширными возможностями модернизации.
        Моноблочные вентиляционные установки выполнены в едином корпусе,
        представлены в вытяжном, приточном и приточно-вытяжном исполнении.
        Отличительной особенностью является простота в обслуживании,
        компактные размеры оборудования и низкие эксплуатационные расходы.
      </p>
      <p>
        Монтаж и демонтаж систем бытового назначения не вызывает сложностей.
        При работе с объектами особой конфигурации проводятся дополнительные
        работы, связанные с изготовлением переходников, настенных и напольных
        держателей. Возможна организация вспомогательных воздуховодов с
        наружной части здания.
      </p>

      <h2>Монтаж и демонтаж бытовых систем кондиционирования</h2>
      <p>
        Большинство бытовых решений состоит из внутреннего и внешнего блока.
        Первый осуществляет распределение поступающего воздуха, принимает и
        обрабатывает команды с пульта, второй – содержит компрессор и рабочий
        контур. Расположение подвижных элементов снаружи помещения
        минимизирует уровень шума, обеспечивает комфортную эксплуатацию
        системы.
      </p>
      <p>Выделяют несколько типов кондиционеров.</p>
      <ul>
        <li>
          <span>Сплит-системы.</span> Используются наиболее часто. Они состоят
          из одного внешнего и одного внутреннего блока, доступны в дешевых и
          дорогих вариациях. Сплит-системы удобны в снятии и монтаже, не
          требуют частого и дорогостоящего обслуживания. Внутренние блоки
          имеют привлекательный вид, прекрасно вписываются в интерьер.
        </li>
        <li>
          <span>Мульти сплит-системы.</span> Надежное и качественное решение,
          обеспечивающие охлаждение нескольких комнат. Мульти системы
          кондиционирования состоят из нескольких внутренних и одного
          наружного блока. Последний обладает повышенной мощностью.
          Посредством одной мульти-сплит системы охлаждается до 9 комнат.
          Каждый внутренний модуль управляется с собственного пульта. Подобные
          системы кондиционирования подойдут многоуровневым квартирам и
          частным домам.
        </li>
        <li>
          <span>Центральное кондиционирование.</span> Центральная система
          подразумевает размещение единого внешнего блока, который обслуживает
          все помещения, находящиеся в здании. Внутренние блоки могут быть
          любого типа. Охлажденный (нагретый) воздух поступает во все уголки
          помещения, формируя комфортную среду.
        </li>
        <li>
          <span>Напольные кондиционеры.</span> Мобильные блоки, сочетающие в
          себе внешний и внутренний модуль. Они имеют дополнительную защиту
          подвижных компонентов, не требуют комплексной инженерной наладки. Их
          покупка сопряжена с минимальными тратами. Существенным недостатком
          мобильных устройств является малая производительность, высокая
          шумность и необходимость отвода нагретого воздуха. Продукция
          рекомендована в качестве подменного варианта на случай ремонта
          вентиляционного трубопровода или стационарного кондиционера.
        </li>
        <li>
          <span>Оконные кондиционеры.</span> Малогабаритные кондиционеры,
          монтируемые в оконные проемы. Устройства используются при
          невозможности изменения фасада либо наличии прочих ограничений,
          препятствующих монтажу полноценной сплит-системы. Оконные
          кондиционеры востребованы в офисных зданиях и квартирах,
          расположенных в рамках объектов культурного наследия.
        </li>
      </ul>
      <p>
        Монтаж и демонтаж кондиционеров выполняется посредством
        профессионального оборудования. При этом соблюдаются противопожарные
        нормативы. Допускается срочное выполнение операций, связанных с
        ремонтом и наладкой.
      </p>
    </div>
    <div class="call">
{% include 'collback.html' %}
    </div>
    <div class="container">
      <h2>
        Монтаж и демонтаж промышленных вентиляций и систем кондиционирования
      </h2>
      <p>
        Производственные системы вентиляции и кондиционирования отличаются
        повышенной производительностью. Они совместимы со спринклерными
        системами пожаротушения, могут обладать противодымными функциями.
      </p>
      <p>
        Прокладка промышленных систем подразумевает строгое соблюдение
        технологии и требований проектной документации. В отдельных случаях
        выполняется предмонтаж, упрощающий проведение последующих операций.
      </p>
      <span class="text">Уточнить, сколько стоит монтаж системы, позволит смета. В ней
        представлены цены на все оказываемые услуги, отражена стоимость
        дополнительных работ, связанных с подключением систем дымоудаления,
        интеграцией модулей сигнализации и прочими мероприятиями.</span>

      <h2>Расчет стоимости проекта монтажа и демонтажа</h2>
      <p>
        При проектировании домашних и промышленных систем учитывается масса
        нюансов, влияющих на конечную стоимость работ.
      </p>
      <ul>
        <li>
          Объем помещения, в котором монтируется система вентиляции, и
          устанавливается оборудование для кондиционирования.
        </li>
        <li>
          Особенности планировки, накладывающие ограничения на выполнение
          технологических операций. Необходимость разработки индивидуальных
          решений, устраняющих имеющиеся трудности.
        </li>
        <li>
          Количество оконных и дверных проемов, их габариты и параметры
          исполнения.
        </li>
        <li>Необходимость подключения к пожарной системе.</li>
        <li>
          Тип стали (нержавеющая, конструкционная, оцинкованная), используемой
          при формировании поддерживающих элементов.
        </li>
        <li>Качество стен, на которые будет крепиться оборудование.</li>
        <li>
          Количество лиц, использующих офис, жилое или производственное
          помещение.
        </li>
        <li>
          Число и производительность электроприборов, присутствующих в целевой
          области (параметр особенно важен для крупных промышленных
          предприятий и компаний общественного питания).
        </li>
      </ul>
      <p>
        Расчеты проводятся после детального изучения объекта. При этом
        возможно составление карты местности, поэтажных планов здания или
        сооружения.
      </p>
      <p>
        Допускается проведение исследований, определяющих наличие трат на
        реализацию дополнительных решений.
      </p>
      <ul>
        <li>
          <span>Замер влажности воздуха.</span>На объекте может присутствовать
          избыточная влажность. Для ее устранения потребуются модули осушения.
          Они нормализуют целевые показатели, обеспечат комфортное пребывание
          в помещении.
        </li>
        <li>
          <span>Изучение вентиляционного контура.</span> Операция востребована
          при установке сплит-системы в помещении с вентиляцией. Последняя
          может иметь малую пропускную способность, что негативно отражается
          на качестве воздушной среды. Нейтрализовать проблему помогут
          кондиционеры с возможностью подмеса воздуха.
        </li>
        <li>
          <span>Знакомство с графиком отопления.</span> В некоторых домах
          поздно подают тепло, что вызывает дискомфорт у жильцов и
          посетителей. В данном случае целесообразно предусмотреть модули
          обогрева для «переходного периода».
        </li>
        <li>
          <span>Осмотр окружающей территории.</span> На объектах,
          расположенных вблизи оживленных трасс, будет уместна система
          фильтрации. Она задержит копоть, пыль и неприятные запахи.
        </li>
      </ul>
      <p>
        Заказать проведение дополнительных мероприятий может любой клиент. Они
        помогут точно рассчитать расходы на опциональные технические работы.
      </p>
      <h2>Этапы монтажа и демонтажа оборудования</h2>
      <p>
        Работы по монтажу систем вентиляции и кондиционирования проводятся в
        несколько этапов:
      </p>
      <ul>
        <li>
          подготовительные операции, формирующие исчерпывающее представление
          об объекте;
        </li>
        <li>
          формирование проемов требуемых размеров в несущих стенах и
          перегородках;
        </li>
        <li>сборка элементов воздуховода;</li>
        <li>
          прокладка воздуховода с последующим вырезанием отверстий под
          диффузоры и решетки;
        </li>
        <li>установка вентиляционного оборудования;</li>
        <li>монтаж электрической части, подключение автоматики;</li>
        <li>монтаж нагревательных элементов (при необходимости);</li>
        <li>проведение пуско-наладочных работ;</li>
        <li>заполнение актов с последующей передачей заказчику.</li>
      </ul>
      <p>
        Все работы выполняются под ключ. Мастера убирают за собой мусор,
        обеспечивают его вывоз.
      </p>
      <p>
        Продолжительность монтажа систем кондиционирования и вентиляции
        зависит от многих факторов:
      </p>
      <ul>
        <li>длина магистралей;</li>
        <li>сложность системы вентиляции и кондиционирования;</li>
        <li>наличие нестандартных инженерных решений;</li>
        <li>значительная удаленность целевого объекта;</li>
        <li>
          наличие технологического оборудования, вносящего определенные
          ограничения в процесс монтажа;
        </li>
        <li>особые требования со стороны заказчика.</li>
      </ul>
      <p>
        Демонтажные работы проводятся по базовому сценарию. При удалении
        существующей системы сохраняется целостность коммуникаций и
        сопряженного оборудования. Мастера соблюдают требования отраслевых
        нормативов, связанные с уровнем шума и запыленности.
      </p>
      <h2>
        Основные особенности монтажа и демонтажа систем воздухообмена по типу
        объекта
      </h2>
      <p>
        Монтаж и демонтаж систем может сопровождаться определенными
        сложностями. Это обусловлено этажностью объекта, конструктивом его
        несущих стен и перегородок, прочими техническими факторами.
      </p>
      <p>
        Перечень дополнительных операций, востребованных на различных
        объектах.
      </p>
      <ul>
        <li>
          <span>Привлечение промышленных альпинистов.</span> Промышленные
          альпинисты участвуют в монтаже систем вентиляции и кондиционирования
          при работе с высотными зданиями. Они способны проникнуть в
          труднодоступные места, расположенные на значительной высоте.
        </li>
        <li>
          <span>Возведение строительных лесов.</span> Строительные леса
          помогают поднять тяжелое оборудование на умеренную высоту. Они
          обеспечивают беспрепятственный доступ к фасаду, позволяют
          использовать нескольких монтажников на одном участке.
        </li>
        <li>
          <span>Применение бурильных установок.</span> Бурильные установки
          используются при взаимодействии с бетонными и кирпичными стенами.
          Они существенно упрощают монтаж, нередко задействуются на
          промышленных объектах.
        </li>
      </ul>
      <p>
        Монтаж систем может сопровождаться привлечением специалистов узкой
        специализации. Эксперты учитывают специфику производства и базовые
        отраслевые нормативы, предотвращают грубые нарушения, провоцирующие
        аварийные ситуации.
      </p>
      <h2>
        Цены по видам работ на монтаж и демонтаж систем вентиляции и
        кондиционирования в Санкт- Петербурге
      </h2>
      <p>
        Обращение в компанию «Ventiko» позволит заказать монтаж систем
        вентиляции и кондиционирования в Санкт-Петербурге. К сотрудничеству
        приглашаются коммерческие организации, государственные учреждения и
        частные лица.
      </p>
      <p>
        Расценки на монтаж и демонтаж вентиляции в СПБ указаны в штатном
        прайсе. Документ содержит стоимость всех видов работ, позволяет
        определиться с требуемым бюджетом.
      </p>
      <p>
        Заказывая монтаж систем вентиляции в «Ventiko», клиенты получают
        следующие преимущества.
      </p>
      <ul>
        <li>
          <span>Всестороннее содействие в оформлении заказа.</span>
          Покупателям доступны бесплатные консультации, помогающие выбрать
          наилучшее решение для целевого объекта.
        </li>
        <li>
          <span>Использование качественной продукции.</span> При монтаже
          задействуются сертифицированные материалы, обладающие высокими
          эксплуатационными показателями.
        </li>
        <li>
          <span>Отсутствие сторонних сборов.</span> Клиент сотрудничает с
          исполнителем напрямую, не оплачивает посреднические комиссии.
        </li>
        <li>
          <span>Квалифицированный подход.</span> К монтажу привлекаются
          компетентные мастера, обладающие требуемыми знаниями и навыками. По
          завершении работ заказчику предоставляются необходимые акты.
        </li>
      </ul>
      <p>
        Компания располагает собственным проектным отделом. Это позволяет
        подготавливать документацию для выполнения сложных операций.
      </p>
      <p>
        Обращение в «Ventiko» гарантирует монтаж качественных вентиляционных и
        климатических систем, соответствующих заявленным требованиям.
      </p>
    </div>
  </section>

{% endblock %}

