{% extends 'base.html' %}
{% block content %}
      <section class="equipment">
    <div class="container">
      <h1>Сервисное обслуживание</h1>
      <p>
        Компания “Ventiko” осуществляет сервисное обслуживание систем
        вентиляции, кондиционирования и дымоудаления. Работы проводятся силами
        компетентных специалистов, подразумевают применение профильной техники
        и расходных материалов.
      </p>
      <p>При организации мероприятий учитываются следующие факторы:</p>
      <ul>
        <li>конструктивные особенности системы;</li>
        <li>параметры использования оборудования;</li>
        <li>
          требования отраслевых нормативов в части пожарной, экологической и
          эксплуатационной безопасности;
        </li>
        <li>потребность в отключении смежной техники;</li>
        <li>рекомендации заказчика.</li>
      </ul>
      <p>
        В рамках сервисных мероприятий осуществляется прочистка магистрали,
        замена изношенных фильтров, крупно- и мелкоузловой ремонт.
      </p>
      <p class="promo_text">
        Возможно выявление смежных проблем, препятствующих полноценной работе
        сети. С целью их устранения привлекаются сторонние организации,
        имеющие соответствующий профиль.
      </p>
      <h3>Кто может заказать обслуживание?</h3>
      <p>
        Воспользоваться предложением компании могут следующие категории
        клиентов:
      </p>

      <ul>
        <li>
          <span>Частные лица.</span> В рамках работы с частными лицами
          обслуживаются инженерные системы коттеджей и квартир. Они отличаются
          простотой и малыми размерами, что положительно сказывается на
          стоимости услуг.
        </li>
        <li>
          <span>Корпоративные заказчики.</span> Клиенты корпоративного
          сегмента могут заказать профилактику офисных и промышленных
          кондиционеров, обслуживания протяженных вентиляционных воздуховодов.
          Также выполняются операции по обслуживанию осушителей, увлажнителей
          и пылеуловителей.
        </li>
        <li>
          <span>Строительные организации.</span>Застройщики нередко заказывают
          обслуживание коммуникаций построек. Компания выполняет полный спектр
          работ в течение гарантийного срока, распространяющегося на здание.
        </li>
      </ul>
      <p>
        В рамках сервисных мероприятий осуществляется прочистка магистрали,
        замена изношенных фильтров, крупно- и мелкоузловой ремонт.
      </p>
      <p>
        “Ventiko” располагает собственным парком техники. Это обеспечивает
        оперативное выполнение процедур, минимизирует нагрузку на персонал.
      </p>
      <p class="promo_text">
        Стоимость услуг зависит от объема и сложности работ. Уточнить
        предварительный объем расходов можно у штатных консультантов.
      </p>
      <h3>Почему стоит воспользоваться нашим предложением?</h3>
      <p>
        Заказать обслуживание вентиляционных и климатических систем в компании
        “Ventiko” следует по ряду причин:
      </p>

      <ul>
        <li>выполнение работ силами квалифицированных специалистов;</li>
        <li>наличие необходимого количества оборудования;</li>
        <li>прозрачные расценки, не содержащие комиссий;</li>
        <li>индивидуальный подход и качественный сервис;</li>
        <li>строгое соблюдение сроков.</li>
      </ul>
      <p class="promo_text">
        Для оформления заявки заполните форму или позвоните нам.
      </p>
    </div>
  </section>

{% endblock %}
