<!-- @format -->

{% extends 'base.html' %} {% block content %}
<section class="conditioning">
  <div class="container">
    <div class="cond">
      <h1>Установка систем вентиляции в Санкт-Петербурге</h1>
      <p>
        Для продуктивной работы, сохранения здоровья очень важно контролировать
        своевременное и регулярное поступление свежего воздуха в помещение и
        устранение загрязненного. Именно это и обеспечивает любой тип
        вентиляционных установок. Каждому потребителю крайне важно выбрать
        подходящую модель именно для данного помещения и с помощью наших
        специалистов сделать необходимые расчеты, проект и монтаж.
      </p>
      <p>
        В нашей команде работают только квалифицированные специалисты,
        обладающие должными знаниями и навыками. Они учитывают параметры
        объекта, требования нормативов, характеристики материалов, применяемых
        при монтаже вентиляционного контура.
      </p>
    </div>
    <div class="cond_items">
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="col">
            <div class="item_img">
              <img
                src="/static/img/ventilation/56.jpg"
                style="width: 100%"
                alt=""
              />
            </div>
          </div>
          <div class="col">
            <div class="item_text">
              <h3>Установка системы вентиляции в квартире</h3>
              <p>
                Вентиляция в квартире обеспечивает удаление неприятных запахов,
                а также воздуха, обогащенного углекислым газом. Она способствует
                комфортной эксплуатации жилища независимо от расположения и
                этажа. Качественная вентиляция гарантирует высокое содержание
                кислорода в помещении и прекрасное самочувствие его обитателей.
              </p>

              <div class="promo_text">
                Стоимость услуг по монтажу систем вентиляции в квартире
              </div>
              <p>
                Инженерные решения для жилых помещений имеют приемлемую
                стоимость. Это обусловлено их простотой и малой ресурсной
                емкостью. Организовать качественную вентиляцию удастся даже при
                скромном бюджете.
              </p>
              <a
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"
                type="button"
                class="btn btn-outline-primary btn-lg col-12 active"
                >Получить консультацию</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="item_text">
            <h3>Установка систем вентиляции в частном доме</h3>
            <p>
              Вентиляция в частном доме обеспечивает безопасную эксплуатацию
              газовых и отопительных приборов. Она формирует комфортный
              микроклимат, улучшает условия пребывания в помещении в зимнее и
              летнее время. Установка вентиляционной системы не сопряжена с
              избыточными тратами и высокими эксплуатационными расходами.
            </p>

            <div class="promo_text">
              Стоимость услуг по монтажу систем вентиляции в загородном доме
            </div>
            <p>
              Стоимость вентиляции для загородного дома зависит от размеров
              постройки, протяженности магистрали и параметров применяемого
              оборудования.
            </p>
            <a
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              type="button"
              class="btn btn-outline-primary btn-lg col-12 active"
              >Получить консультацию</a
            >
          </div>
          <div class="item_img">
            <img
              src="/static/img/ventilation/55.png"
              style="width: 100%"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="col">
            <div class="item_img">
              <img
                src="/static/img/ventilation/59.png"
                style="width: 100%"
                alt=""
              />
            </div>
          </div>
          <div class="col">
            <div class="item_text">
              <h3>Установка систем вентиляции в ресторанах, барах, кафе</h3>
              <p>
                Рестораны относятся к предприятиям общественного питания. В них
                обязана присутствовать вентиляция для зоны приготовления пищи и
                зала обслуживания клиентов. Конфигурация вентиляции определяется
                количеством варочных поверхностей, габаритами помещения, а также
                наличием дополнительного оборудования с источниками открытого
                огня.
              </p>
              <div class="promo_text">
                Стоимость услуг по монтажу систем вентиляции в ресторанах, кафе,
                барах
              </div>
              <p>
                Рассчитать стоимость монтажных работ можно после осмотра
                объекта. Мероприятие проводится компетентным специалистом,
                обладающим необходимым оборудованием.
              </p>
              <a
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"
                type="button"
                class="btn btn-outline-primary btn-lg col-12 active"
                >Получить консультацию</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="col">
            <div class="item_text">
              <h3>Установка систем вентиляции в бассейнах</h3>
              <p>
                Все общественные и частные бассейны обязаны оснащаться системой
                вентиляции. Используемые конструктивные решения обеспечивают
                качественный воздухообмен, не создают сквозняков в местах
                скопления людей, поддерживают влажность воздуха на уровне 50 –
                60%. При работающей вентиляции температура в помещении на 2 – 3
                градуса выше температуры воды.
              </p>
              <div class="promo_text">
                Стоимость услуг по монтажу вентиляции в бассейнах
              </div>
              <p>
                Цена смены на проект фиксирована и подбирается индивидуально
                после осмотра помещения
              </p>
              <a
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"
                type="button"
                class="btn btn-outline-primary btn-lg col-12 active"
                >Получить консультацию</a
              >
            </div>
          </div>
          <div class="col">
            <div class="item_img">
              <img
                src="/static/img/ventilation/53-.png"
                style="width: 100%"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col">
            <div class="item_img">
              <img
                src="/static/img/ventilation/54.png"
                style="width: 100%"
                alt=""
              />
            </div>
          </div>
          <div class="col">
            <div class="item_text">
              <h3>Установка систем вентиляции в офисах</h3>
              <p>
                Офисные помещения имеют развитую систему вентиляции,
                затрагивающую рабочие зоны, санитарные узлы, комнаты приема
                пищи. Она характеризуется высокой производительностью,
                обеспечивает качественный воздухообмен. При работе
                вентиляционной системы не возникает дополнительных шумов,
                отвлекающих сотрудников и клиентов.
              </p>
              <p>
                Для предприятий общественного питания рекомендованы
                высокопроизводительные устройства, устойчивые к воздействию
                внешних факторов. Такое оборудование обеспечит слаженную работу
                организации на протяжении многих лет.
              </p>

              <div class="promo_text">
                Стоимость услуг по монтажу систем вентиляции в офисных
                помещениях
              </div>
              <p>
                Цена монтажных работ зависит от числа охватываемых кабинетов,
                сложности прокладки линии и подключения сопутствующей
                аппаратуры.
              </p>
              <a
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"
                type="button"
                class="btn btn-outline-primary btn-lg col-12 active"
                >Получить консультацию</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="cond_content">
        <div class="row row-cols-1 row-cols-lg-2 ">
          <div class="col">
            <div class="item_text">
              <h3>Установка систем вентиляции в медицинских центрах</h3>
              <p>
                К вентиляции в медучреждениях предъявляются повышенные
                требования в части надежности и производительности. Она
                сохраняет функционал в экстремальных условиях, легко поддается
                обслуживанию и модернизации. Вентиляционные магистрали
                прокладываются через больничные палаты, операционные, комнаты
                для хранения лекарственных препаратов.
              </p>
              <div class="promo_text">
                Стоимость услуг по монтажу вентиляции в медцентрах
              </div>
              <p>
                Уточнить цену монтажных работ можно только после осмотра
                медицинского учреждения.
              </p>
              <a
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"
                type="button"
                class="btn btn-outline-primary btn-lg col-12 active"
                >Получить консультацию</a
              >
            </div>
          </div>
          <div class="col">
            <div class="item_img">
              <img
                src="/static/img/ventilation/57.png"
                style="width: 100%"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="conditioning_about">
  <div class="container">
    <h2>Для чего нужна вентиляция?</h2>
    <p>
      Если обратиться к санитарно – гигиеническим нормам, то выясняется, что для
      полноценной жизнедеятельности человека, находящегося в помещении, вся
      масса воздуха должна обновляться не реже, чем каждые несколько часов.
    </p>
    <p>
      Основная функция вентиляции: обмен поступающего свежего и чистого воздуха
      и устранение уже отработанного равномерно и в нужных количествах. Модели
      вентиляционных систем имеют различные опции: нагрев, фильтрацию, контроль
      уровня влажности.
    </p>
    <p>
      В связи с установленными санитарно – гигиеническими нормами вентиляционная
      система должна им соответствовать и иметь технологические показатели,
      согласно этим нормам. Для этого предлагается делать проект.
    </p>
    <p>
      В современном мире система вентиляции – неотъемлемая составляющая
      коммуникаций отдельных помещений и целых зданий. Она необходима в равной
      степени для производственных и жилых помещений, комфорта, для
      работоспособности и отдыха человека.
    </p>
    <h2>Типы вентиляции</h2>
    <p>
      В зависимости от конкретных задач и назначения помещения системы
      вентиляции классифицируются и имеют несколько видов.
    </p>

    <ul>
      <li>
        <span>Приточная.</span> Обеспечивает поступление свежего воздуха в
        комнату или производственное помещение, здание или коттедж.
      </li>
      <li>
        <span>Вытяжная вентиляция</span> ориентирована на грамотный и
        своевременный отток загрязненного воздуха.
      </li>
      <li>
        <span>Приточно–вытяжная вентиляция</span> вентиляция соединяет два
        предыдущих типа и применяется наиболее часто, так как способна подавать
        и забирать воздух равномерно.
      </li>
      <li>
        <span>Местная система вентиляции</span> устанавливается с целью очистки
        конкретного участка (рабочего места, комнаты).
      </li>
      <li>
        <span>Центральная система вентиляции</span> очищает и подает воздушные
        массы на большие площади, более крупная, состоящая из 2 – х и более
        блоков, нескольких систем фильтрации, воздуховодов.
      </li>
    </ul>

    <p>
      Все эти типы относятся к механической (принудительной) системе вентиляции,
      так как применяются установки, состоящие из нескольких комплектующих,
      способствующих поступлению воздуха в здание.
    </p>
    <p>
      Естественный тип все чаще становится второстепенным и вспомогательным
      (проветривание с помощью открытия окон и дверей). В связи с массовой
      установкой герметичных стеклопакетов, экономией энергоресурсов и тепла
      данный вид малоэффективен, если используется без механической системы
      вентилирования помещений.
    </p>

    <h2>Приточно–вытяжная система вентиляции</h2>
    <p>
      Это комбинированный вид, состоящий из систем приточной и вытяжной
      вентиляции. Установка поглощает из помещения, в котором находится,
      загрязненный воздух и обеспечивает регулярное поступление свежего,
      согласно санитарно–гигиеническим нормам.
    </p>
    <p>
      Данный вид вентиляции особенно эффективен, рекомендуется для установки и
      эксплуатации в помещениях, где скапливается большое количество людей
      (рестораны, кинотеатры, магазины, производство) или где быстро происходит
      скопление загрязненного и влажного воздуха (санузлы, курительные комнаты,
      кухни).
    </p>
    <h2>Достоинства</h2>
    <p>
      Устройство приточно–вытяжной вентиляции стоит недешево, но является
      достойным и окупающимся вложением средств. Установку проводят специалисты,
      так как система циркуляции воздуха сложная. Но достоинства перевешивают
      расходы.
    </p>
    <p>
      Воздух в помещении всегда свежий и чистый, что делает работу или
      жизнедеятельность комфортной.
    </p>
    <p>
      Большинство комплектующих производители делают из экологически чистых
      материалов. Вредные микрочастицы паров и прочего не вбрасывается в
      атмосферу.
    </p>
    <p>
      ПВВ – абсолютно безопасна в эксплуатации, имеет автоматический контроль и
      панели управления, функцию самостоятельного отключения в случае ЧП.
    </p>
    <p>
      Приточно–вытяжная вентиляция имеет много неоспоримых преимуществ, она
      эффективна и удобна. Относится к механическому типу, принудительно подает
      свежий воздух, а забирает загрязненный. Дополнительные опции (фильтрация,
      нагрев, контроль влажности) делают работу устройств качественными и
      отвечающими мировым стандартам.
    </p>
  </div>
  <div class="call">{% include 'collback.html' %}</div>
  <div class="container">
    <h2>Комплектующие</h2>
    <p>
      Система ППВ состоит из двух независимых каналов: из одного удаляется
      использованный воздух, а из другого подается. Каждый из каналов вмещает
      перечень необходимых элементов, соединенных воздуховодами. Системы делятся
      на 2 основных класса.
    </p>
    <p>
      Моноблочные. Они почти сразу приготовлены к установке и не требуют
      серьезных навыков. Стоимость их дороже, но монтаж не сложный: к блоку
      присоединяют воздуховоды и электрическое питание.
    </p>
    <p>
      Наборные немного дешевле и включают такие комплектующие: приточный и
      вытяжной вентилятор, рекуператор (пластинчатый или роторный), системы
      фильтров, электронагреватели и автоматику.
    </p>
    <p>
      Сложность системы заключается в профессиональной и грамотной установке
      воздухораспределителей и каналов
    </p>
  </div>
</section>
{% endblock %}
