{% extends 'base.html' %}
{% block content %}
 <section class="conditioning">
    <div class="container">
      <div class="cond">
        <h1>Установка систем вентиляции в Санкт-Петербурге</h1>
        <p>
          Системы вентиляции обеспечивают слаженный воздухообмен в квартирах,
          производственных помещениях и загородных домах. Они обладают низким
          энергопотреблением, могут комплектоваться фильтрационным
          оборудование, задерживающим сторонние частицы, секцией увлажнения
          или осушения воздуха.
        </p>
        <p>
          В нашей команде работают только квалифицированные специалисты,
          обладающие должными знаниями и навыками. Они учитывают параметры
          объекта, требования нормативов, характеристики материалов,
          применяемых при монтаже вентиляционного контура.
        </p>
      </div>
      <div class="cond_items">
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="col">
              <div class="item_img">
                <img src="/static/img/ventilation/56.jpg" style="width: 100%" alt="" />
              </div>
            </div>
            <div class="col">
              <div class="item_text">
                <h3>Установка системы вентиляции в квартире</h3>
                <p>
                  Вентиляция в квартире обеспечивает удаление неприятных
                  запахов, а также воздуха, обогащенного углекислым газом. Она
                  способствует комфортной эксплуатации жилища независимо от
                  расположения и этажа. Качественная вентиляция гарантирует
                  высокое содержание кислорода в помещении и прекрасное
                  самочувствие его обитателей.
                </p>

                <div class="promo_text">
                  Стоимость услуг по монтажу систем вентиляции в квартире
                </div>
                <p>
                  Инженерные решения для жилых помещений имеют приемлемую
                  стоимость. Это обусловлено их простотой и малой ресурсной
                  емкостью. Организовать качественную вентиляцию удастся даже
                  при скромном бюджете.
                </p>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                  class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="item_text">
              <h3>Установка систем вентиляции в частном доме</h3>
              <p>
                Вентиляция в частном доме обеспечивает безопасную эксплуатацию
                газовых и отопительных приборов. Она формирует комфортный
                микроклимат, улучшает условия пребывания в помещении в зимнее
                и летнее время. Установка вентиляционной системы не сопряжена
                с избыточными тратами и высокими эксплуатационными расходами.
              </p>

              <div class="promo_text">
                Стоимость услуг по монтажу систем вентиляции в загородном доме
              </div>
              <p>
                Стоимость вентиляции для загородного дома зависит от размеров
                постройки, протяженности магистрали и параметров применяемого
                оборудования.
              </p>
              <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
            </div>
            <div class="item_img">
              <img src="/static/img/ventilation/55.png" style="width: 100%" alt="" />
            </div>
          </div>
        </div>
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="col">
              <div class="item_img">
                <img src="/static/img/ventilation/59.png" style="width: 100%" alt="" />
              </div>
            </div>
            <div class="col">
              <div class="item_text">
                <h3>Установка систем вентиляции в ресторанах, барах, кафе</h3>
                <p>
                  Рестораны относятся к предприятиям общественного питания. В
                  них обязана присутствовать вентиляция для зоны приготовления
                  пищи и зала обслуживания клиентов. Конфигурация вентиляции
                  определяется количеством варочных поверхностей, габаритами
                  помещения, а также наличием дополнительного оборудования с
                  источниками открытого огня.
                </p>
                <div class="promo_text">
                  Стоимость услуг по монтажу систем вентиляции в ресторанах,
                  кафе, барах
                </div>
                <p>
                  Рассчитать стоимость монтажных работ можно после осмотра
                  объекта. Мероприятие проводится компетентным специалистом,
                  обладающим необходимым оборудованием.
                </p>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                  class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="col">
              <div class="item_text">
                <h3>Установка систем вентиляции в бассейнах</h3>
                <p>
                  Все общественные и частные бассейны обязаны оснащаться
                  системой вентиляции. Используемые конструктивные решения
                  обеспечивают качественный воздухообмен, не создают сквозняков
                  в местах скопления людей, поддерживают влажность воздуха на
                  уровне 50 – 60%. При работающей вентиляции температура в
                  помещении на 2 – 3 градуса выше температуры воды.
                </p>
                <div class="promo_text">
                  Стоимость услуг по монтажу вентиляции в бассейнах
                </div>
                <p>
                  Цена смены на проект фиксирована и подбирается индивидуально
                  после осмотра помещения
                </p>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                  class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
              </div>
            </div>
            <div class="col">
              <div class="item_img">
                <img src="/static/img/ventilation/53-.png" style="width: 100%" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
              <div class="item_img">
                <img src="/static/img/ventilation/54.png" style="width: 100%" alt="" />
              </div>
            </div>
            <div class="col">
              <div class="item_text">
                <h3>Установка систем вентиляции в офисах</h3>
                <p>
                  Офисные помещения имеют развитую систему вентиляции,
                  затрагивающую рабочие зоны, санитарные узлы, комнаты приема
                  пищи. Она характеризуется высокой производительностью,
                  обеспечивает качественный воздухообмен. При работе
                  вентиляционной системы не возникает дополнительных шумов,
                  отвлекающих сотрудников и клиентов.
                </p>
                <p>
                  Для предприятий общественного питания рекомендованы
                  высокопроизводительные устройства, устойчивые к воздействию
                  внешних факторов. Такое оборудование обеспечит слаженную
                  работу организации на протяжении многих лет.
                </p>

                <div class="promo_text">
                  Стоимость услуг по монтажу систем вентиляции в офисных
                  помещениях
                </div>
                <p>
                  Цена монтажных работ зависит от числа охватываемых кабинетов,
                  сложности прокладки линии и подключения сопутствующей
                  аппаратуры.
                </p>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                  class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="col">
              <div class="item_text">
                <h3>Установка систем вентиляции в медицинских центрах</h3>
                <p>
                  К вентиляции в медучреждениях предъявляются повышенные
                  требования в части надежности и производительности. Она
                  сохраняет функционал в экстремальных условиях, легко поддается
                  обслуживанию и модернизации. Вентиляционные магистрали
                  прокладываются через больничные палаты, операционные, комнаты
                  для хранения лекарственных препаратов.
                </p>
                <div class="promo_text">
                  Стоимость услуг по монтажу вентиляции в медцентрах
                </div>
                <p>
                  Уточнить цену монтажных работ можно только после осмотра
                  медицинского учреждения.
                </p>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button"
                  class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
              </div>
            </div>
            <div class="col">
              <div class="item_img">
                <img src="/static/img/ventilation/57.png" style="width: 100%" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="conditioning_about">
    <div class="container">
      <h2>Наши услуги по системам вентиляции в СПБ</h2>
      <p>
        Воспользовавшись предложением нашей компании, Вы сможете заказать
        установку вентиляционного оборудования в рамках квартиры или частного
        дома, складского или промышленного помещения, ресторана или кафе,
        офиса или магазина.
      </p>
      <p>Клиентам доступны следующие услуги:</p>
      <ul>
        <li>проектирование систем вентиляции;</li>
        <li>поставка оборудования и материалов;</li>
        <li>проведение монтажных и демонтажных работ;</li>
        <li>пуско-наладка вентиляционных систем;</li>
        <li>
          проведение сервисных мероприятий, а также процедур, связанных с
          экстренным и плановым ремонтом.
        </li>
      </ul>
      <div class="promo_text">
        Для оформления заявки заполните форму или позвоните нам.
      </div>

      <h2>
        Классификация систем вентиляции по способу подачи и удаления воздуха
      </h2>
      <p>
        По способу подачи и удаления воздуха вентиляционные системы делятся на
        4 группы:
      </p>
      <ul>
        <li>
          <span>Приточно-вытяжная вентиляция.</span> Комбинированная система,
          способная подавать и отводить воздух. При устройстве системы
          используются воздуховоды и приточно-вытяжные установки.
          Приточно-вытяжная вентиляция является универсальным решением. Она
          прокладывается в квартирах, загородный домах, бассейнах, торговых
          точках. Возможна установка вентиляции в производственных цехах и на
          пром складе предприятия.
        </li>
        <li>
          <span>Приточно-вытяжная вентиляция с рекуперацией.</span> Системы
          вентиляции механического типа, обеспечивающие прогрев циркулируемого
          воздуха посредством возврата. Подобный вид вентиляции снижает
          расходы на отопление, уменьшает нагрузку на систему
          кондиционирования в осенне-весенний период.
        </li>
        <li>
          <span>Вытяжная вентиляция.</span> Конструкции и магистрали,
          удаляющие отработанный воздух из помещения.
        </li>
        <li>
          <span>Приточная вентиляция.</span> Системы вентиляции,
          ориентированные на подачу воздуха с улицы в нужное помещение.
        </li>
      </ul>

      <h2>Классификация систем вентиляции по способу перемещения воздуха</h2>
      <p>
        По способу перемещения воздуха вентиляционные системы делятся на 3
        группы.
      </p>
      <ul>
        <li>
          <span>Естественная вентиляция.</span> Система циркуляции,
          подразумевающая приток кислорода через оконные проемы либо клапаны,
          размещенные в стенах. Для отвода воздуха предусмотрены каналы в
          кладке или специальных коробах. Вытяжки естественного типа широко
          используются в жилых помещениях и частных коттеджах. Они имеют
          простую схему, формируются при строительстве здания.
        </li>
        <li>
          <span>Искусственная (механическая) вентиляция.</span> Механическую
          вентиляцию монтируют в случае недостаточной производительности
          естественных решений. При проведении работ используют вентиляторы,
          обеспечивающие требуемый приток и удаление воздуха. Модули
          приводятся в действие электрическими двигателями, имеют различную
          геометрию и размеры.
        </li>
        <li>
          <span>Смешанная.</span> Комбинированные системы, основанные на
          использовании естественной и искусственной вентиляции.
        </li>
      </ul>
    </div>
    <div class="call">
{% include 'collback.html' %}
    </div>
    <div class="container">
      <h2>Этапы монтажа вентиляционного оборудования</h2>
      <p>
        Специалисты нашей компании монтируют системы вентиляции различной
        сложности, имеют многолетний опыт работы на сложных объектах. Все
        работы выполняются в строгом соответствии с графиком монтажа, поставки
        и пуско-наладки.
      </p>
      <p>
        Наша компания осуществляет монтаж вентиляции на производстве, в жилых
        и коммерческих помещениях. Работы по установке систем выполняются в
        несколько этапов.
      </p>
      <ul>
        <li>
          <span>Формирование технического задания.</span> Клиент обращается в
          компанию с просьбой организовать вентиляцию в целевом помещении. Он
          предоставляет развернутое ТЗ, содержащее основные требования к
          системе. В отдельных случаях происходит формирование технического
          задания силами исполнителя и заказчика.
        </li>
        <li>
          <span>Знакомство с объектом.</span> Представитель компании выезжает
          на место, посещает жилой либо коммерческий объект. Он знакомиться с
          особенностями здания, выполняет необходимые замеры. Выездные работы
          проводятся с использованием высокоточного оборудования. Это
          позволяет получить исчерпывающее представление о помещении,
          исключает погрешности и неточности. В процессе проведения замеров
          формируются предварительные эскизы, заполняются необходимые формы.
        </li>
        <li>
          <span>Подготовка проектной документации.</span> Формирование
          проекта, в рамках которого будет изготавливаться и монтироваться
          система. Инженеры производят расчет поступающего воздуха в
          производственные и жилые помещения, адаптируют систему дымоудаления
          под особенности здания, проводят аэродинамические и акустические
          расчеты. Также осуществляется определение трассы, подбор креплений,
          подбор оборудования и составление сметы. В состав базового проекта
          входят следующие разделы.
          <ul>
            <li>
              <span>Эскизный проект.</span> Набор графических документов,
              информирующих о размещении инженерных сетей и подключаемого к
              ним оборудования.
            </li>
            <li>
              <span>Инженерный проект.</span> Подробная документация,
              описывающая применяемые решения. Раздел содержит
              детализированные чертежи и спецификации.
            </li>
            <li>
              <span>Проект интеграции.</span> Документация, регламентирующая
              взаимодействия системы вентиляции с прочими магистралями,
              имеющимися в помещении. Интеграционный проект предотвращает
              ситуации, в которых вентиляционная магистраль препятствует
              нормальной работе системы отопления, электроснабжения или
              пожаротушения.
            </li>
            <li>
              <span>Визуализация.</span> Файлы и документы, формирующие
              представление о параметрах работы оборудования. С ростом
              сложности системы увеличивается объем визуальной составляющей. В
              базовых проектах ее присутствие сводится к минимуму.
            </li>
            <li>
              <span>Сведения о монтажных работах.</span> Раздел с требованиями
              к качеству установки системы. В нем содержатся необходимые схемы
              и расчеты, описано, как сделать ту или иную работу. Сведения о
              монтажных мероприятиях наиболее важны на производстве, где
              присутствует большое количество преград, препятствующих
              нормальной циркуляции воздуха.
            </li>
            <li>
              <span>Сопроводительные документы.</span> Сертификаты и паспорта
              на применяемое оборудование. Документы подтверждают качество
              устанавливаемых устройств, содержат данные о правилах их
              эксплуатации в цеху и смежных помещениях.
            </li>
            <li>
              <span>Сметы.</span> Отчетные бумаги, содержащие цены на
              комплектующие, производственные операции и прочие издержки.
            </li>
          </ul>
        </li>

        <li>
          <span>Коплектовка заявки.</span> Компания подготавливает компоненты,
          необходимые для организации системы вентиляции. При прокладке
          магистрали в сложных производственных цехах могут потребоваться
          нестандартные позиции, заказываемые отдельно. Срок комплектовки
          зависит от габаритов помещения и масштабов проекта.
        </li>
        <li>
          <span>Доставка продукции.</span>Компоненты для сборки системы
          вентиляции поставляются в цех или жилое помещение. Они выгружаются
          сотрудниками компании, складируются в предложенном заказчиком месте.
          Выгрузка изделий может потребовать применения спецтехники. Ее
          привлечение оплачивается отдельно.
        </li>
        <li>
          <span>Монтаж.</span> Штатные мастера выполняют прокладку магистрали
          согласно имеющемуся проекту. Специалисты используют профессиональное
          оборудование и материалы, подготавливают необходимые отверстия и
          проемы. Работы проводятся с соблюдением норм пожарной и
          экологической безопасности.
        </li>
        <li>
          <span>Установка автоматики.</span> После «черновой разводки»
          производиться монтаж автоматики и подключение систем к сетям
          электропитания.
        </li>
        <li>
          <span>Пуско-наладочные работы.</span> Завершающий этап, призванный
          обеспечить настройку и первичный запуск оборудования вентиляции
          воздуха. При работе на производственных объектах возможно выполнение
          операций, связанных с большим количеством дополнительной техники.
        </li>
      </ul>
      <div class="promo_text">
        Выполнение всех перечисленных этапов гарантирует качественную
        установку и беспроблемную работу системы вентиляции.
      </div>
      <h2>Основные особенности монтажа системы воздухообмена</h2>
      <p>
        При работе с системами вентиляции воздуха важно учитывать следующие
        факторы:
      </p>
      <ul>
        <li>
          тип здания и особенности планировки помещений внутри нее (особенно
          важно для производственных объектов);
        </li>
        <li>требования к монтируемой системе;</li>
        <li>
          наличие производственного оборудования и установок,
          взаимодействующих с системой вентиляции воздуха;
        </li>
        <li>
          качество комплектующих, задействуемых при прокладке магистрали;
        </li>
        <li>
          необходимость в дополнительных процедурах, обеспечивающих
          качественный монтаж вентиляции.
        </li>
      </ul>
      <p>
        Правильный монтаж домашних вентиляционных магистрали способствует
        поддержанию комфортного микроклимата и удалению неприятных запахов.
        Корректная установка производственной вентиляции обеспечит эффективную
        эксплуатацию объекта, сократит вероятность несчастных случаев.
      </p>
      <p>
        Компания PROVENT ответственно выполняет взятые на себя обязательства.
        Мы гарантируем безупречное проведение работ в полном соответствии с
        действующими ГОСТами и СНиПами.
      </p>
      <div class="promo_text">
        Оформите заявку и получите полный спектр услуг, связанных с доставкой,
        монтажом и пуско-наладкой оборудования.
      </div>
    </div>
  </section>
{% endblock  %}
