<!--{% extends 'base.html' %}-->


<!--{% block content %}-->
    <section class="conditioning">
    <div class="container">
      <div class="cond">
        <h1>Установка систем кондиционирования в Санкт-Петербурге и Ленобласти</h1>
        <p>
          Системы кондиционирования поддерживают комфортный микроклимат в
          квартире, частном доме, офисе и кафе. Их можно встретить на
          производственных объектах, в государственных учреждениях и
          торгово-развлекательных центрах.
        </p>
        <h5>
          Использование кондиционера позволяет получить ряд преимуществ:
        </h5>
        <ul>
          <li>контроль температуры в автоматическом режиме;</li>
          <li>очистка воздуха от шерсти, пыли и прочих частиц;</li>
          <li>поддержание уровня влажности в оптимальных пределах.</li>
        </ul>
        <p>
          Системы кондиционирования имеют различное исполнение, могут
          размещаться в квартирах, небольших ресторанах, сервисных комнатах,
          загородных коттеджах коммерческого и частного назначения.
        </p>
      </div>
      <div class="cond_items">
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="col">
              <div class="item_img">
                <img src="../img/conditioning/51.png" style="width: 100%" alt="" />
              </div>
            </div>
            <div class="col">
              <div class="item_text">
                <h3>Установка системы кондиционирования в квартире</h3>
                <p>
                  Купить систему кондиционирования воздуха могут владельцы любых
                  квартир. Устройства устанавливаются в домах различных годов
                  постройки. Они не занимают много места, позволяют быстро
                  охладить помещение.
                </p>
                <p>
                  Современный вид кондиционеров упрощает их интеграцию в
                  существующий дизайн. Техника не занимает много места, не
                  требует сложной настройки и обслуживания.
                </p>
                <p>
                  Для объектов, относящихся к памятникам архитектуры,
                  предлагаются оконные блоки. Они монтируются в полимерные и
                  металлические рамы, имеют приятное, эргономичное исполнение.
                </p>
                <p>
                  Подключение оборудования выполняется с должной аккуратностью.
                  Процедура сопряжена с минимальным пылеобразованием, не
                  предусматривает повреждения отделочных материалов.
                </p>
                <div class="promo_text">
                  Стоимость услуг по монтажу систем кондиционирования в квартире
                </div>
                <p>
                  Расходы на монтаж кондиционеров зависят от сложности работ и
                  стоимости применяемого оборудования. Как правило, заказчику не
                  требуется крупный бюджет.
                </p>
                <a data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                  class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
              </div>
            </div>
          </div>
        </div>
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="item_text">
              <h3>Установка системы кондиционирования в квартире</h3>
              <p>
                Купить систему кондиционирования воздуха могут владельцы любых
                квартир. Устройства устанавливаются в домах различных годов
                постройки. Они не занимают много места, позволяют быстро
                охладить помещение.
              </p>
              <p>
                Современный вид кондиционеров упрощает их интеграцию в
                существующий дизайн. Техника не занимает много места, не
                требует сложной настройки и обслуживания.
              </p>
              <p>
                Для объектов, относящихся к памятникам архитектуры,
                предлагаются оконные блоки. Они монтируются в полимерные и
                металлические рамы, имеют приятное, эргономичное исполнение.
              </p>
              <p>
                Подключение оборудования выполняется с должной аккуратностью.
                Процедура сопряжена с минимальным пылеобразованием, не
                предусматривает повреждения отделочных материалов.
              </p>
              <div class="promo_text">
                Стоимость услуг по монтажу систем кондиционирования в квартире
              </div>
              <p>
                Расходы на монтаж кондиционеров зависят от сложности работ и
                стоимости применяемого оборудования. Как правило, заказчику не
                требуется крупный бюджет.
              </p>
              <a data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
            </div>
            <div class="item_img">
              <img src="../img/conditioning/61.png" style="width: 100%" alt="" />
            </div>
          </div>
        </div>
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="item_img">
              <img src="../img/conditioning/62.png" style="width: 100%" alt="" />
            </div>
            <div class="item_text">
              <h3>Установка системы кондиционирования в квартире</h3>
              <p>
                Кондиционеры для коттеджей отличаются прекрасной
                производительностью и долговечностью. Они применяются в
                постройках из СИП-панелей, кирпича, в деревянных срубах и
                домах из шлакоблока. Устройства не наносят ущерб эстетке и
                функционалу постройки.
              </p>
              <p>
                Низкая этажность коттеджей упрощает проведение монтажных
                работ. Мастера используют минимальное количество инструментов,
                не привлекают дорогостоящую технику и промышленных
                альпинистов.
              </p>
              <p>
                Для малогабаритных домов и построек хозяйственного назначения
                предусмотрены компактные решения с низким энергопотреблением.
              </p>

              <div class="promo_text">
                Стоимость услуг по монтажу систем кондиционирования в
                загородном доме
              </div>
              <p>
                Цена монтажных работ зависит от высоты установки внешнего
                блока, конфигурации системы кондиционирования, а также наличия
                особых требований со стороны заказчика.
              </p>
              <a data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
            </div>
          </div>
        </div>
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="item_text">
              <h3>Установка систем кондиционирования в офисах</h3>
              <p>
                Монтаж офисных систем кондиционирования подразумевает
                реализацию инженерных решений различной сложности. Возможна
                работа с крупными одиночными помещениями, множественными
                малыми комнатами, пространствами с комбинированной
                планировкой.
              </p>
              <p>
                Оборудование обеспечит комфортный микроклимат в каждой зоне.
                Оно может быть представлено сплит-системами, централизованными
                и смешанными решениями.
              </p>

              <div class="promo_text">
                Стоимость услуг по монтажу систем кондиционирования в офисных
                помещениях
              </div>
              <p>
                Объем расходов на проведение монтажных работ определяется
                индивидуально. Предусмотрено проведение оценочных мероприятий,
                содержащих широкий спектр замеров и аналитических процедур.
              </p>
              <a data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
            </div>
            <div class="item_img">
              <img src="../img/conditioning/63.png" style="width: 100%" alt="" />
            </div>
          </div>
        </div>
        <div class="cond_content">
          <div class="row row-cols-1 row-cols-lg-2 ">
            <div class="item_img">
              <img src="../img/conditioning/60.png" style="width: 100%" alt="" />
            </div>
            <div class="item_text">
              <h3>
                Установка систем кондиционирования в ресторанах, кафе, барах
              </h3>
              <p>
                Системы для ресторанов, баров и кафе не только поддерживают
                комфортный микроклимат. Они создают условия для
                продолжительного хранения продуктов и снижают нагрузку на
                персонал.
              </p>
              <p>
                Для предприятий общественного питания рекомендованы
                высокопроизводительные устройства, устойчивые к воздействию
                внешних факторов. Такое оборудование обеспечит слаженную
                работу организации на протяжении многих лет.
              </p>

              <div class="promo_text">
                Стоимость услуг по монтажу систем кондиционирования в
                ресторанах, кафе, барах
              </div>
              <p>
                Определить цену монтажных работ можно после осмотра объекта.
                Конечная стоимость услуг согласовывается с клиентом.
              </p>
              <a data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                class="btn btn-outline-primary btn-lg col-12 active">Получить консультацию</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="conditioning_about">
    <div class="container">
      <h2>
        Выбор системы кондиционирования. Какие факторы стоит учесть при
        покупке кондиционера?
      </h2>
      <h3>
        Выбирая кондиционер в квартиру, в коттедж или офис, необходимо
        обратить внимание на следующие нюансы.
      </h3>
      <ul>
        <li>
          Объем помещения, в котором планируется поставить оборудование. Важно
          учитывать именно объем. Расчет по площади может иметь погрешности,
          поскольку разные объекты имеют разную высоту потолков. В результате
          изменяется количество обрабатываемого воздуха и нагрузка на
          кондиционер.
        </li>
        <li>
          Планировка помещения, в рамках которой планируется размещать
          технику. Многие помещения имеют сложное строение, что создает
          дополнительные трудности при монтаже. Избежать неприятностей при
          работе со сплит-системами поможет формирование плана объекта с
          последующим подбором подходящего решения.
        </li>
        <li>
          Габариты и количество окон, присутствующих в помещении. Частота
          проветривания, а также особенности эксплуатации оконных конструкций.
        </li>
        <li>Количество людей, проживающих (пребывающих) на объекте.</li>
        <li>
          Число и мощность приборов, генерирующих тепло. Данный фактор
          особенно важен для ресторанов и прочих предприятий общественного
          питания. Работа газовых и электрических плит существенно повышает
          нагрузку на систему кондиционирования, требует наличия
          дополнительных фильтров для очистки воздушного потока.
        </li>
      </ul>
      <p>
        Некорректный подбор кондиционера для комнаты, квартиры или
        коммерческого объекта приведет к быстрому износу оборудования или
        отсутствию эффективности.
      </p>
      <h3>
        Не последнее значение имеет функционал систем кондиционирования. Чтоб
        определиться с требуемыми опциями, стоит провести ряд исследований.
      </h3>
      <ul>
        <li>
          <span>Измерение влажности воздуха.</span> Установка системы во
          влажном помещении – повод задуматься о функции осушения. Она снизит
          показатели влажности, расширив область использования объекта и
          степень комфорта для посетителей.
        </li>
        <li>
          <span>Проверка системы вентиляции.</span> Некоторые системы
          вентиляции не обеспечивают достаточного поступления воздуха в жилье.
          Для обустройства объектов с подобными сетями стоит использовать
          кондиционеры с возможностью подмеса воздуха.
        </li>
        <li>
          <span>Анализ работы отопительного контура.</span> Если в помещении
          поздно запускается отопление, стоит подумать о модулях
          кондиционирования с обширными возможностями по обогреву. Такие
          установки помогут пройти «переходный период» с минимальным
          дискомфортом, исключат приобретение обогревателей и прочих
          отопительных приборов.
        </li>
        <li>
          <span>Изучение местоположения здания.</span>Системы
          кондиционирования для объектов, расположенных вблизи
          производственных объектов и проезжих частей, должны оснащаться
          фильтрационными модулями. Они очистят воздух от сторонних примесей,
          снизят запыленность помещения и частоту уборочных операций.
        </li>
      </ul>
      <p>
        Многие блоки кондиционирования обладают уникальными функциями. С их
        помощью уменьшается энергопотребление, уровень шума, количество
        сервисных работ. Ознакомиться со всеми особенностями устройств можно
        на сайте производителя.
      </p>
      <h3>
        Оптимальные характеристики воздуха, находящегося внутри помещения:
      </h3>
      <ul>
        <li>количество кислорода – более 21%;</li>
        <li>количество углекислого газа – менее 0,3%;</li>
        <li>относительная влажность – в пределах 45 – 60%.</li>
      </ul>
      <p>
        Параметры температуры зависят от предпочтений жильцов, а также
        требований технического регламента (актуальны для систем
        кондиционирования промышленных помещений).
      </p>
      <h2>Сплит-системы</h2>
      <p>
        Выбор в пользу сплит-систем оптимален для частных коттеджей и квартир.
        Подобные решения содержат внутренний и наружный блок. Первый
        размещается в помещении, отвечает за прием команд с пульта и подачу
        охлажденного (нагретого) воздуха. Наружный блок, содержащий компрессор
        и прочие источники шума, располагается на внешней стене. Это
        обеспечивает тишину при работе кондиционера.
      </p>
      <p>
        Сплит-системы в базовом исполнении имеют умеренные размеры, могут
        применяться в небольших комнатах, не ограничивая их привлекательность
        и функционал. Закрепление наружного блока допускается на стенах из
        любого материала: дерево, кирпич, пенобетон и армированный бетон.
      </p>
      <h2>Мульти-сплит системы на несколько помещений</h2>
      <p>
        Множество решений для офисных и жилых помещений построены на
        классических сплит-системах. Основное отличие мульти-сплит системы –
        наличие мощного наружного блока и нескольких внутренних.
      </p>
      <h3>Преимущества мульти-сплит систем:</h3>
      <ul>
        <li>
          поддержание комфортного микроклимата в большом количестве комнат (до
          9 внутренних блоков на один внешний);
        </li>
        <li>
          каждый внутренний блок может регулироваться из комнаты, в которой он
          установлен;
        </li>
        <li>
          на фасаде присутствует всего один блок, что особенно важно для
          объектов культурного наследия и зданий, выполненных по
          индивидуальному проекту;
        </li>
        <li>
          обслуживание рабочих компонентов и центральной магистрали не
          вызывает особых сложностей.
        </li>
      </ul>
      <p>
        Основной недостаток мульти-сплит системы – узкая направленность. Они
        могут либо нагревать, либо охлаждать воздух. Комбинировать данные
        действия не позволяют конструктивные особенности оборудования.
      </p>
      <p>
        Мульти-сплит системы уместны в коттеджах и частных домах с большим
        количеством комнат. Они могут распространяться на несколько этажей,
        выводиться в подвал или пристроенный гараж.
      </p>
      <h3>Мультизональные системы кондиционирования</h3>
      <p>
        Решения категории VRV и VRF. Их могут купить компании, обладающие
        крупными офисами, а также владельцы загородных домов с большим
        количеством помещений. Системы кондиционирования обладают
        непревзойденной производительностью, позволяют подключить к наружному
        блоку до 50 внутренних устройств.
      </p>
      <p>
        В отличие от мульти сплит-систем, наружный блок
        <span>VRV (VRF) подключается одной медной трубкой, к которой через
          разветвители монтируются дополнительные трассы.</span>
      </p>
    </div>
    <div class="call">
      <div class="main_block_item">
        <div class="card big">
          <div class="card-body">
            <h5 class="card-title">Закажите бесплатную консультацию</h5>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Как к Вам обращаться?</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ваше имя" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Введите Ваш номер телефона</label>
              <input type="value" class="form-control tel" id="exampleFormControlInput1"
                placeholder="+7 (___) ___-__-__" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Описание проекта</label>
              <input class="form-control form-control-lg" type="text" placeholder="Описание"
                aria-label="Пример .form-control-lg">
            </div>
            <div class="form__files_tool">
              <button class="btn files__counter">нет файлов</button>
              <label class="form__label_file">
                <input type="file" class="form__input_file input--file" multiple="" />
                Прикрепить файл
              </label>
              <div class="form__files files"></div>
            </div>


            <a href="#" type="button" class="btn btn-outline-primary btn-lg col-12 active">Отправить</a>

            <div class="form__proof">
              <label class="form__label form__label--checkbox">
                <input type="checkbox" class="form__checkbox checkbox--agree" />
                <span class="form_confirm">
                  Я принимаю условия
                  <a target="_blank" href="/privacy/" class="projects__link form__link">политики конфиденциальности</a>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Промышленные кондиционеры</h2>
      <p>Промышленные системы кондиционирования делятся на три типа.</p>
      <ul>
        <li>
          <span>Системы чиллер-фанкойл.</span> Производительные решения,
          устанавливаемые на предприятиях площадью от 1 000 квадратных метров.
          Устройства не используют фреон для охлаждения воздушного потока.
          Процесс кондиционирования осуществляется за счет воды (водного
          раствора этиленгликоля), охлаждаемой и нагреваемой в наружном блоке
          (чиллере) при помощи труб. Жидкость требуемой температуры поступает
          в теплообменники фанкойлов, расположенные в помещении. Системы
          безопасны в эксплуатации, отличаются экономичностью и значительным
          охватом рабочей площади.
        </li>
        <li>
          <span>Центральные промышленные кондиционеры.</span>Оборудование для
          спортивных залов, торговых и развлекательных центров. Решения
          являются одними из наиболее доступных. Внешний блок кондиционера
          устанавливается исключительно на горизонтальной плоскости. При
          работе с наклонной поверхностью используется рама, удерживающая
          оборудование в требуемом положении.
        </li>
        <li>
          <span>Прецизионные кондиционеры.</span> Техника, поддерживающая
          заданные параметры воздуха с высокой точностью. Она востребована в
          помещениях, оснащенных сложной электроникой, а также на складах
          реагентов и медикаментов. Основной блок устройства состоит из
          компрессора, вентилятора, испарителя, увлажнителя и автоматики. В
          состав малого блока входит конденсатор и вентилятор.
        </li>
      </ul>
      <h3>Все кондиционеры могут иметь 4 типа внутреннего блока</h3>
      <p>
        По типу внутреннего блока кондиционеры делятся на настенные,
        канальные, кассетные и напольно-потолочные. Каждый тип устройств
        обладает собственными особенностями.
      </p>
      <h3>Настенные</h3>
      <p>
        Решения в классическом исполнении, применяемые в большинстве
        помещений. Блок располагается на стене, под потолком.
      </p>
      <p>Преимущества настенных кондиционеров:</p>
      <ul>
        <li>доступная цена монтажных работ;</li>
        <li>
          возможность установки и демонтажа оборудования в срочном порядке;
        </li>
        <li>
          приемлемая стоимость настенных блоков (от 15 000 рублей за
          устройства в базовом исполнении);
        </li>
        <li>прекрасная эстетика компонентов;</li>
        <li>широкие возможности настройки и управления;</li>
        <li>сервисное обслуживание по привлекательной цене.</li>
      </ul>
      <p>
        Настенные системы для частного дома можно демонтировать в любой
        момент. Это особенно важно при продаже объекта или переезде.
      </p>
      <h3>Канальные</h3>
      <p>
        Канальные системы можно использовать как отдельно, так и интегрировать
        в приточно-вытяжную систему. Они оптимальны для объектов с множеством
        помещений.
      </p>
      <p>Преимущества канальных кондиционеров:</p>
      <ul>
        <li>
          отсутствие видимого внутреннего блока упрощает реализацию
          дизайнерских решений, связанных с отделкой;
        </li>
        <li>
          воздуховоды скрыты от глаз, в помещении присутствуют только
          вентиляционные решетки;
        </li>
        <li>
          возможность использования дополнительных фильтрационных систем,
          улучшающих качество воздуха в помещении;
        </li>
        <li>поддержка режима рециркуляции;</li>
        <li>
          возможность соединения каналов кондиционирования и вентиляции.
        </li>
      </ul>
      <p>
        Устройства интегрируются не только по воздуховодам, но и по
        управлению. Это приводит к сокращению объема монтируемых инженерных
        систем и экономии бюджета
      </p>
      <h3>Кассетные</h3>
      <p>
        Оригинальный конструктив кассетного блока обеспечивает высокую
        интенсивность воздушного потока и экономию свободного места.
        Устройство устанавливается в потолочном пространстве, отличается
        отсутствием крупных воздуховодов.
      </p>
      <p>Преимущества кассетных кондиционеров:</p>
      <ul>
        <li>создание интенсивного потока;</li>
        <li>распределение охлажденного воздуха в четырех направлениях;</li>
        <li>возможность заменить 3 – 5 настенных модулей;</li>
        <li>прекрасная интеграция в интерьер;</li>
        <li>низкая шумность.</li>
      </ul>
      <p>
        Размер межпотолочного пространства, необходимый для установки
        устройства, составляет 25 – 40 см.
      </p>
      <h2>Напольно-потолочные</h2>
      <p>
        Универсальные блоки, размещаемые под потолком и рядом с полом. В
        первом случае устройства крепятся параллельно плитам перекрытия, во
        втором – аналогично радиаторам отопления. При желании кондиционеры
        можно зафиксировать в любой части помещения.
      </p>
      <p>Преимущества напольно-потолочных кондиционеров:</p>
      <ul>
        <li>
          регулировка потока вертикальными и горизонтальными заслонками;
        </li>
        <li>вариативность размещения;</li>
        <li>удобство обслуживания;</li>
        <li>продуманная система отвода конденсата.</li>
      </ul>
      <p>
        Многие устройства оснащаются антибактериальными очистными фильтрами,
        улучшающими качество воздуха в помещении.
      </p>
      <h2>Расчет мощности кондиционера</h2>
      <h3>
        Расчет мощности рабочего блока осуществляется с учетом внешних и
        внутренних факторов. К внешним относят:
      </h3>
      <ul>
        <li>
          количество тепла, попадающего в помещение вместе с солнечными
          лучами;
        </li>
        <li>
          тепловая энергия, проходящая через стены, перегородки и прочие
          конструктивные элементы;
        </li>
        <li>
          поступление тепла в результате работы приточной вентиляции и
          сопряженных приборов.
        </li>
      </ul>
      <h3>
        Внутренние факторы, влияющие на мощность оборудования, поставляемого в
        помещение:
      </h3>
      <ul>
        <li>количество отопительных приборов;</li>
        <li>число и параметры потребителей газа и электричества;</li>
        <li>количество людей, эксплуатирующих объект;</li>
        <li>характеристики осветительных элементов.</li>
      </ul>
      <p>
        Суммарный анализ перечисленных параметров позволит грамотно подобрать
        кондиционер для загородного дома, квартиры или офиса.
      </p>
      <h2>Из чего складывается цена системы кондиционирования?</h2>
      <h3>
        Стоимость установки системы кондиционирования зависит от многих
        показателей:
      </h3>
      <ul>
        <li>
          стоимость оборудования и материалов, используемых при монтажных
          работах;
        </li>
        <li>потребность в специальной технике или инструменте;</li>
        <li>
          выполнение дополнительных операций, необходимых для полноценного
          закрепления и запуска техники;
        </li>
        <li>сложность работ по настройке и пуско-наладке;</li>
        <li>объем мероприятий, связанных с прокладкой инженерных сетей;</li>
        <li>
          удаленность объекта, на котором будет производиться монтаж (особенно
          актуально для загородных домов).
        </li>
      </ul>
      <p>
        Комбинирование системы кондиционирования воздуха с принудительной
        вентиляцией может потребовать разработки проектной документации.
        Необходимость в проекте существует при работе с крупными коттеджами,
        складскими и производственными помещениями.
      </p>
      <p>
        Стоимость подготовки технической документации рассчитывается
        индивидуально, зависит от сложности поставленных задач. Работам по
        проектированию предшествует подготовка ТЗ, выездной осмотр объекта,
        согласование ключевых инженерных решений.
      </p>
      <p>
        Основные статьи расходов прописываются в смете, согласовываемой с
        Заказчиком.
      </p>
    </div>
  </section>
{% endblock %}

