{% extends 'base.html' %}

{% block content %}
      <section class="main_about">
    <div class="container">
      <h1>О компании</h1>
      <div class="about_content">
        <div class="about_descr">
          <p>
	  Компания Ventiko была основана в 2011 году, изначально насчитывая в штате всего несколько сотрудников, которые занимались установкой  вентиляции и кондиционеров. Со временем область оказания услуг в сфере инженерных систем расширялась, рос штат сотрудников.
В 2023 году наша компания предоставляет услуги по проектированию, монтажу и обслуживанию внутренних инженерных систем, таких как вентиляция, кондиционирование, холодоснабжение.
          </p>
          <div class="about_boss">
            <div class="about_author">
              <div class="about_data">
                <p class="about_pos">Генеральный директор</p>
                <p class="about_name">Сергей Мингалёв</p>
              </div>
<!--              <div class="about_sign">-->
<!--                <img src="/static/icons/sign.svg" alt="подпись" class="about_img_sign" />-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="orders">
    <div class="container">
      <h2>Что можно заказать?</h2>
      <span class="orders_titul">Компания оказывает широкий спектр услуг.</span>
      <ul>
        <li>
          <p>
            <span>Реализация профильного оборудования. </span> Мы производим
            поставку сертифицированных вентиляционных установок и смежных
            компонентов. Покупатели получают высококачественную технику,
            соответствующую нормам экологической, функциональной и пожарной
            безопасности. Продукция сопровождается полным набором документов,
            без труда проходит проверки надзорных органов.
          </p>
        </li>
        <li>
          <p>
            <span>Доставка техники.</span> Компания располагает собственным
            парком автомобилей, осуществляет подвоз оплаченного оборудования
            на объект заказчика. Продукция транспортируется по регламенту, что
            исключает появление функциональных и косметических дефектов.
          </p>
        </li>
        <li>
          <p>
            <span>Монтажные работы.</span> Системы вентиляции и
            кондиционирования устанавливаются квалифицированными
            специалистами. Мастера обладают необходимыми знаниями и навыками,
            располагают широким спектром инструментов. Они учитывают
            планировку помещения, пожелания клиента, требования нормативной
            документации. Работы сопровождаются минимальным уровнем шума, что
            особенно важно для режимных объектов и учреждений.
          </p>
        </li>
        <li>
          <p>
            <span>Пуско-наладочные работы.</span> Специалисты адаптируют
            оборудование под нужды клиента, обеспечивают его эффективное и
            слаженное функционирование.
          </p>
        </li>
        <li>
          <p>
            <span>Обслуживание.</span> Системы, находящиеся в эксплуатации,
            требуют периодического ухода. Это исключает преждевременный износ
            деталей, предотвращает непредвиденные поломки. Сотрудники компании
            выполняют полный спектр сервисных операций. Они удаляют
            загрязнения, производят калибровку автоматики и профилактику
            подвижных компонентов.
          </p>
        </li>
      </ul>
      <div class="alarm">
        <p>
          Клиентам доступен полный спектр проектных работ. Штатные инженеры
          подготовят документы, необходимые для закупки оборудования,
          монтажных и пуско-наладочных операций. Они реализуют решения,
          удовлетворяющие потребности заказчика и представителей комиссии.
        </p>
      </div>
      <p class="last">
        Проектирование осуществляется посредством современных САПР. Это
        минимизирует влияние человеческого фактора, позволяет получить
        качественную документацию в сжатые сроки.
      </p>
    </div>
    <section class="whyus">
      <div class="container">
        <h2>Почему стоит обратиться к нам?</h2>
        <p>
          Наша компания сделала все возможное, чтобы обеспечить высокое
          качество услуг и доступные цены. Мы напрямую сотрудничаем с
          производителями оборудования и их представителями, принимаем в
          работу типовые и нестандартные проекты. Клиенты обслуживаются в
          индивидуальном порядке, могут рассчитывать на квалифицированную
          помощь в любой момент времени.
        </p>
        <p>
          <br />
          Доверяя работу с системами вентиляции и кондиционирования
          профессионалам, Вы принимаете рациональное решение, исключающее
          финансовые и технические сложности.
        </p>
      </div>
    </section>
  </section>

{% endblock %}
