            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-2 offset-md-1">
                  <img src="/static/img/works/1.png" class="" alt="1" />
                </div>
                <div class="col-md-4 offset-md-4">
                  <span class="projects_header"
                    >Банный комплекс в Сестрорецке</span
                  >
                  <p class="projects_info">
                    <span class="projects_subtitle">Проект:</span>
                    Приточно-вытяжная система вентиляции с рекуперацией тепла
                  </p>
                  <p class="projects_info">
                    <span class="projects_subtitle">Площадь:</span>

                    90м<sup>2</sup>
                  </p>
                  <p class="projects_info">
                    <span class="projects_subtitle">Установлено:</span>
                    Подобрана и установлена приточно-вытяжная установка
                    SystemAir с роторным рекуператором. Для экономии
                    подпотолочного пространства помещений вся разводка
                    воздуховодов выполнена в чердачном помещении.
                  </p>
                  <p class="projects_price">
                    <span class="projects_subtitle"
                      >Итоговая стоимость по договору:</span
                    >385 000 руб.
                  </p>

                  <a href="#" class="btn btn-outline-primary btn-lg col-12"
                    >Подробнее</a
                  >
                </div>



                <div class="carousel-item">
              <div class="row">
                <div class="col-md-2 offset-md-1">
                  <img src="/static/img/works/2.png" class="" alt="2" />
                </div>
                <div class="col-md-4 offset-md-4">
                  <span class="projects_header">Дом в Ропше</span>
                  <p class="projects_info">
                    <span class="projects_subtitle">Проект:</span>
                    Вытяжная система вентиляции
                  </p>
                  <p class="projects_info">
                    <span class="projects_subtitle">Площадь:</span>
                    105м<sup>2</sup>
                  </p>
                  <p class="projects_info">
                    <span class="projects_subtitle">Установлено:</span>
                    Канальное вентиляционное оборудование немецкой фирмы Ruck.
                    Для экономии подпотолочного пространства помещений вся
                    разводка воздуховодов выполнена в чердачном помещении.
                  </p>
                  <p class="projects_price">
                    <span class="projects_subtitle"
                      >Итоговая стоимость по договору:</span
                    >68 000 руб.
                  </p>
                  <a href="#" class="btn btn-outline-primary btn-lg col-12"
                    >Подробнее</a
                  >
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-2 offset-md-1">
                  <img src="/static/img/works/3.png" class="" alt="3" />
                </div>
                <div class="col-md-4 offset-md-4">
                  <span class="projects_header">Квартира. ЖК «Ботаника»</span>
                  <p class="projects_info">
                    <span class="projects_subtitle">Проект:</span>
                    Канальная система кондиционирования на основе фанкойлов
                  </p>
                  <p class="projects_info">
                    <span class="projects_subtitle">Площадь:</span>
                    72м<sup>2</sup>
                  </p>
                  <p class="projects_info">
                    <span class="projects_subtitle">Установлено:</span>
                    Установлены канальные фанкойлы фирмы Carrier в ванной
                    комнате и гардеробе. Таким образом опуск потолков в жилых
                    комнатах отсутствует. Вся разводка воздуховодов выполнена по
                    сан.узлам и гардеробу.
                  </p>
                  <p class="projects_price">
                    <span class="projects_subtitle"
                      >Итоговая стоимость по договору:</span
                    >291 400 руб.
                  </p>
                  <a
                    href="#"
                    class="btn btn-outline-primary btn-lg col-12 more_btn"
                    >Подробнее</a
                  >